Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

.lintstagedrc:

{
  "src/**/*.{js,ts,tsx}": ["yarn lint", "yarn format"],
  "src/**/*.{scss,md,mdx}": ["yarn format"]
}

fix: replace shadow variables in components
  src/components/zen-card/zen-card.scss
  src/components/zen-drawer/zen-drawer.scss
  src/components/zen-modal/zen-modal.scss
  src/components/zen-notification/zen-notification.scss
  src/components/zen-popover/zen-popover.scss
Due: yarn format

chore(release): 6.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  cf96c5a2388d6fdbba22322a56b0e68528db8ef6
Due: none

chore(release): 6.7.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4f0661be69d83ac53fa717828398466b7f400c83
Due: none

feat(zen-menu): add story and update implementation
  src/components.d.ts
  src/components/zen-menu-item/zen-option.tsx
  src/components/zen-menu/zen-menu.stories.mdx
  src/components/zen-menu/zen-menu.tsx
Due: yarn lint, yarn format

feat(zen-menu): add trigger event and width params
  src/components.d.ts
  src/components/zen-avatar-icon/zen-avatar-icon.tsx
  src/components/zen-menu/zen-menu.stories.mdx
  src/components/zen-menu/zen-menu.tsx
Due: yarn lint, yarn format

fix(zen-avatar-icon): change error handling
  src/components/zen-avatar-icon/zen-avatar-icon.tsx
Due: yarn lint, yarn format

feat(zen-menu): add initial component implementation
  src/components.d.ts
  src/components/zen-menu/test/zen-menu.spec.tsx
  src/components/zen-menu/zen-menu.scss
  src/components/zen-menu/zen-menu.stories.mdx
  src/components/zen-menu/zen-menu.tsx
Due: yarn lint, yarn format

test(zen-menu): update unit tests
  src/components/zen-menu/test/zen-menu.spec.tsx
Due: yarn lint, yarn format

feat(zen-table-row): add prop `id`
  src/components.d.ts
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

feat(zen-table-row): add event `zenCheckboxClick`
  src/components/zen-table-cell/zen-table-cell.tsx
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

docs(zen-row): log events
  src/components/zen-table-row/zen-table-row.stories.mdx
Due: yarn format

feat(zen-checkbox): add event zenClick
  src/components.d.ts
  src/components/zen-checkbox/zen-checkbox.tsx
  src/components/zen-table-cell/zen-table-cell.tsx
Due: yarn lint, yarn format

feat(zen-table-row): add method `getTable()`
  src/components.d.ts
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

feat(zen-table): add method `getSelectedRows()`
  src/components/zen-table/zen-table.tsx
Due: yarn lint, yarn format

chore(release): 6.7.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  53ea1f018d93ba1088aea893b8b78e4f9763ad74
Due: none

fix(zen-menu): code review changes and code cleanup
  src/components.d.ts
  src/components/zen-avatar-icon/zen-avatar-icon.tsx
  src/components/zen-menu/zen-menu.scss
  src/components/zen-menu/zen-menu.tsx
Due: yarn lint, yarn format

chore(release): 6.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  34976b50181c49ba4bbafbf72152d49dfa6409c8
Due: none

Update src/components/zen-table/zen-table.tsx
  src/components/zen-table/zen-table.tsx
Due: yarn lint, yarn format

chore: filter rows without ids
  src/components/zen-table/zen-table.tsx
Due: yarn lint, yarn format

chore(release): 6.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  81d847ce3255492ddbb9afbd88d74acde244b89a
Due: none

fix(zen-avatar-details): add ellipsis for username and email
  src/components/zen-avatar-details/zen-avatar-details.scss
  src/components/zen-avatar-details/zen-avatar-details.stories.mdx
  src/components/zen-avatar-details/zen-avatar-details.tsx
Due: yarn lint, yarn format

test(zen-avatar-details): add and update unit tests
  src/components/zen-avatar-details/test/zen-avatar-details.spec.tsx
  src/components/zen-avatar-details/zen-avatar-details.stories.mdx
  src/components/zen-avatar-icon/test/zen-avatar-icon.spec.tsx
Due: yarn lint, yarn format

test(zen-avatar-details): update visual regression tests
  cypress/snapshots/visual/avatarDetails.e2e.js/Avatar details visual tests -- Verifies story--graphics-avatar-avatar-details--default-story.snap.png
  cypress/snapshots/visual/avatarDetails.e2e.js/Avatar details visual tests -- Verifies story--graphics-avatar-avatar-details--story-variants.snap.png
Due: none

chore(release): 6.9.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8747f06c84c5a2392aba7d78060b610ac9beddb6
Due: none

fix(zen-avatar-details): ellipsis works correctly
  src/components/zen-avatar-details/zen-avatar-details.scss
Due: yarn format

fix(zen-table): prevent header jumping
  src/components/zen-table-cell/zen-table-cell.scss
Due: yarn format

chore: forgotten commit of autogen file from prev pr
  src/components.d.ts
Due: yarn lint, yarn format

fix(zen-lozenge): match min width to designs
  src/components/zen-lozenge/zen-lozenge.scss
Due: yarn format

build: update yarn lock
  yarn.lock
Due: none

test: update visual snapshots test
  cypress/snapshots/visual/statusTracker.e2e.js/Status tracker visual tests -- Verifies story--navigation-status-tracker--default-story.snap.png
  cypress/snapshots/visual/statusTracker.e2e.js/Status tracker visual tests -- Verifies story--navigation-status-tracker--story-selected.snap.png
  cypress/snapshots/visual/table.e2e.js/Table visual tests -- Verifies story--lists-table-table--truncate.snap.png
Due: none

fix(zen-space): remove text "zen-space should not be empty"
  src/components/zen-space/zen-space.tsx
Due: yarn lint, yarn format

chore: ci node version to lts
  .circleci/config.yml
Due: none

chore(release): 6.9.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  435a9007f53cfcd0e52c80e786654788f9ef6daf
Due: none
