Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

.lintstagedrc:

{
  "src/**/*.{js,ts,tsx}": ["yarn lint", "yarn format"],
  "src/**/*.{scss,md,mdx}": ["yarn format"]
}

docs: improve story by putting sidebar in context
  src/components/zen-sidebar-nav-skeleton/zen-sidebar-nav-skeleton.stories.mdx
Due: yarn format

chore: add prop width and basic styling
  src/components.d.ts
  src/components/zen-sidebar-nav-skeleton/zen-sidebar-nav-skeleton.scss
  src/components/zen-sidebar-nav-skeleton/zen-sidebar-nav-skeleton.tsx
Due: yarn lint, yarn format

chore: add selected item bg
  src/components/zen-sidebar-nav-skeleton/zen-sidebar-nav-skeleton.scss
  src/components/zen-sidebar-nav-skeleton/zen-sidebar-nav-skeleton.tsx
  src/components/zen-space/zen-space.scss
Due: yarn lint, yarn format

chore: add program selector skeleton
  src/components/zen-sidebar-nav-skeleton/zen-sidebar-nav-skeleton.scss
  src/components/zen-sidebar-nav-skeleton/zen-sidebar-nav-skeleton.tsx
Due: yarn lint, yarn format

feat(zen-space): add child prop `no-shrink`
  cypress/snapshots/visual/space.e2e.js/Button visual tests -- Verifies story--containers-space--children.snap.png
  src/components/zen-space/zen-space.scss
  src/components/zen-space/zen-space.stories.mdx
Due: yarn format

test: fix drawer e2e test
  src/components/zen-drawer/zen-drawer.tsx
Due: yarn lint, yarn format

chore: remove program-selector skeleton
  src/components/zen-sidebar-nav-skeleton/test/zen-sidebar-nav-skeleton.spec.tsx
  src/components/zen-sidebar-nav-skeleton/zen-sidebar-nav-skeleton.scss
  src/components/zen-sidebar-nav-skeleton/zen-sidebar-nav-skeleton.tsx
Due: yarn lint, yarn format

chore: add slots "beforeItems" and "afterItems"
  src/components/zen-sidebar-nav-skeleton/zen-sidebar-nav-skeleton.tsx
Due: yarn lint, yarn format

docs: add story for program-selector
  cypress/integration/visual/sidebarNavSkeleton.e2e.js
  cypress/snapshots/visual/sidebarNavSkeleton.e2e.js/Sidebar Nav Skeleton visual tests -- Verifies story--navigation-sidebar-navigation-sidebar-nav-skeleton--default-story.snap.png
  cypress/snapshots/visual/sidebarNavSkeleton.e2e.js/Sidebar Nav Skeleton visual tests -- Verifies story--navigation-sidebar-navigation-sidebar-nav-skeleton--programs-selector.snap.png
  src/components/zen-sidebar-nav-skeleton/zen-sidebar-nav-skeleton.stories.mdx
Due: yarn format

chore(release): 6.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  0991d8f38fa7fa1ad7022eebf5ae4f3dfd08557b
Due: none

fix(zen-text): fix truncate prop
  src/components/zen-text/zen-text.scss
Due: yarn format

chore: remove text style if prop is set to "false"
  src/components/zen-text/zen-text.scss
Due: yarn format

fix(zen-table): make zen-text truncate work with tables
  src/components/zen-table-cell/zen-table-cell.scss
Due: yarn format

feat(zen-table-cell): add prop `no-shrink`
  src/components.d.ts
  src/components/zen-table-cell/zen-table-cell.scss
  src/components/zen-table-cell/zen-table-cell.tsx
Due: yarn lint, yarn format

docs: add story for table cell truncation
  src/components/zen-table-cell/zen-table-cell.scss
  src/components/zen-table/zen-table.stories.mdx
Due: yarn format

test: add new table story e2e test
  cypress/integration/visual/table.e2e.js
  cypress/snapshots/visual/table.e2e.js/Table visual tests -- Verifies story--lists-table-table--truncate.snap.png
  src/components/zen-table-cell/zen-table-cell.scss
Due: yarn format

chore(release): 6.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  61f087de2c217d2bb2ffcfbd72b6c9e476970dba
Due: none

fix(zen-table): fix occasional error thrown when unmounted
  src/components/zen-table/zen-table.tsx
Due: yarn lint, yarn format

chore(release): 6.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2e4e2645c8b4cd5d2c5cec9a96ddccb08e92d9b0
Due: none

fix(zen-checkbox): always render icons
  src/components/zen-checkbox/zen-checkbox.scss
  src/components/zen-checkbox/zen-checkbox.tsx
Due: yarn lint, yarn format

chore(release): 6.3.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8391c976279f8b030ff1606d0e3881066ba5bbf5
Due: none

feat(zen-row): add `zenSelect` event
  src/components.d.ts
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

docs: add story for `zenSelect` event
  src/components/zen-table/zen-table.stories.mdx
Due: yarn format

feat(zen-row): add `zenToggle` event
  src/components.d.ts
  src/components/zen-table-row/zen-table-row.tsx
  src/components/zen-table/zen-table.stories.mdx
Due: yarn lint, yarn format

test: add unit tests for new events
  src/components/zen-table-row/test/zen-table-row.spec.tsx
Due: yarn lint, yarn format

chore(release): 6.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  459f4615e5e25714ee4f7295f77d23fbaed20532
Due: none

fix(zen-sidebar-nav-item): don't select first child automatically
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.tsx
  src/components/zen-sidebar-nav-subitem/zen-sidebar-nav-subitem.tsx
Due: yarn lint, yarn format

feat(zen-sidebar-nav-item): add prop `disabled`
  src/components.d.ts
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.scss
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.tsx
  src/components/zen-sidebar-nav-subitem/zen-sidebar-nav-subitem.scss
Due: yarn lint, yarn format

docs: disable a few items in the sidebar nav story
  src/components/zen-sidebar-nav/zen-sidebar-nav.stories.mdx
Due: yarn format

chore: take `false` attr state into account
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.scss
  src/components/zen-sidebar-nav-subitem/zen-sidebar-nav-subitem.scss
Due: yarn format

chore: don't add `pointer-events:none`
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.scss
  src/components/zen-sidebar-nav-subitem/zen-sidebar-nav-subitem.scss
  src/components/zen-sidebar-nav/zen-sidebar-nav.stories.mdx
Due: yarn format

fix(zen-tab): fix apply styles on params like string
  src/components/zen-tab/zen-tab.scss
Due: yarn format

chore(release): 6.4.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b439e81cab72de3790bf8713dc86ce6b8c65136a
Due: none

chore(release): 6.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none
