Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

.lintstagedrc:

{
  "src/**/*.{js,ts,tsx}": ["yarn lint", "yarn format"],
  "src/**/*.{scss,md,mdx}": ["yarn format"]
}

fix(zen-option): updated mousemove hover style and remove keyboard hover when mousemove
  src/components/zen-menu-item/zen-option.scss
  src/components/zen-menu-item/zen-option.tsx
Due: yarn lint, yarn format

chore: remove margin and padding classes
  src/components/zen-icon/zen-icon.tsx
  src/components/zen-modal/zen-modal.stories.mdx
  src/components/zen-spinner/zen-spinner.stories.mdx
  src/components/zen-table/zen-table.stories.mdx
Due: yarn lint, yarn format

chore: remove main.scss
  src/zen-styles/main.scss
Due: yarn format

chore: remove typography.scss and normalize.scss
  .storybook/preview.scss
  .storybook/scss/typography.scss
  src/stories/components/text-preview/text-with-details.scss
  src/zen-styles/main.scss
  src/zen-styles/normalize.scss
Due: yarn format

refactor: remove file fa-icons
  src/components/helpers/fa-icons.tsx
  src/components/zen-icon/zen-icon.tsx
  src/components/zen-input/zen-input.stories.mdx
Due: yarn lint, yarn format

chore: remove unused scss files
  src/zen-styles/component-helpers.scss
  src/zen-styles/mixins/breakpoints.scss
  src/zen-styles/mixins/index.scss
  src/zen-styles/variables.scss
Due: yarn format

chore: always import component-helpers.scss instead partial scss files
  src/components/zen-card/zen-card.scss
  src/components/zen-checkbox/zen-checkbox.scss
  src/components/zen-date-picker/zen-date-picker.scss
  src/components/zen-drawer/zen-drawer.scss
  src/components/zen-dropdown/zen-dropdown.scss
  src/components/zen-input/zen-input.scss
  src/components/zen-menu-item/zen-option.scss
  src/components/zen-modal/zen-modal.scss
  src/components/zen-progress-tracker/zen-progress-tracker.scss
  src/components/zen-radio/zen-radio.scss
  src/components/zen-tabs/zen-tabs.scss
  src/components/zen-text/zen-text.scss
  src/components/zen-textarea/zen-textarea.scss
  src/components/zen-toggle/zen-toggle.scss
  src/stories/components/docs-table/docs-table.scss
  src/stories/components/html-playground/html-playground.scss
  src/stories/components/text-preview/text-with-details.scss
  src/zen-styles/variables.scss
Due: yarn format

chore: remove utils.ts
  src/stories/utils/utils.ts
Due: yarn lint, yarn format

chore: update storybook
  package.json
  yarn.lock
Due: none

chore: remove zen-style/utilities
  src/zen-styles/component-helpers.scss
  src/zen-styles/main.scss
  src/zen-styles/utilities/flex.scss
  src/zen-styles/utilities/index.scss
  src/zen-styles/utilities/spacing.scss
  src/zen-styles/utilities/visibility.scss
Due: yarn format

chore: fix stories naming collision
  src/componentTemplate.stories.mdx.sample
  src/stories/Flex.stories.mdx
  src/stories/Spacing.stories.mdx
  src/stories/developers.stories.mdx
Due: yarn format

docs: remove spacing and flex stories
  src/stories/Flex.stories.mdx
  src/stories/Spacing.stories.mdx
Due: yarn format

refactor: move scss variables to a special folder
  src/stories/Colors.stories.mdx
  src/zen-styles/component-helpers.scss
  src/zen-styles/vars/colors.scss
  src/zen-styles/vars/shadows.scss
  src/zen-styles/vars/variables.scss
Due: yarn format

chore: rename folder `zen-styles` to `scss` and move it to components
  src/components/scss/component-helpers.scss
  src/components/scss/mixins/forms.scss
  src/components/scss/mixins/helpers.scss
  src/components/scss/vars/colors.scss
  src/components/scss/vars/shadows.scss
  src/components/scss/vars/spacing.scss
  src/components/scss/vars/transitions.scss
  src/components/scss/vars/typography.scss
  src/components/scss/vars/variables.scss
  src/components/zen-avatar-icon/zen-avatar-icon.scss
  src/components/zen-avatar/zen-avatar.scss
  src/components/zen-breadcrumbs/zen-breadcrumbs.scss
  src/components/zen-button/zen-button.scss
  src/components/zen-card/zen-card.scss
  src/components/zen-checkbox/zen-checkbox.scss
  src/components/zen-date-picker/zen-date-picker.scss
  src/components/zen-divider/zen-divider.scss
  src/components/zen-drawer/zen-drawer.scss
  src/components/zen-dropdown/zen-dropdown.scss
  src/components/zen-icon/zen-icon.scss
  src/components/zen-input/zen-input.scss
  src/components/zen-menu-item/zen-option.scss
  src/components/zen-modal/zen-modal.scss
  src/components/zen-notification/zen-notification.scss
  src/components/zen-panel/zen-panel.scss
  src/components/zen-popover/zen-popover.scss
  src/components/zen-progress-tracker/zen-progress-tracker.scss
  src/components/zen-radio/zen-radio.scss
  src/components/zen-skeleton/zen-skeleton.scss
  src/components/zen-sortable-item/zen-sortable-item.scss
  src/components/zen-sortable/zen-sortable.scss
  src/components/zen-tab/zen-tab.scss
  src/components/zen-table-cell/zen-table-cell.scss
  src/components/zen-table/zen-table.scss
  src/components/zen-tabs/zen-tabs.scss
  src/components/zen-text/zen-text.scss
  src/components/zen-textarea/zen-textarea.scss
  src/components/zen-toggle/zen-toggle.scss
  src/components/zen-tooltip/zen-tooltip.scss
  src/stories/Colors.stories.mdx
Due: yarn format

chore: move fonts to storybook folder
  .storybook/fonts/opensans/open-sans-v18-latin-700.eot
  .storybook/fonts/opensans/open-sans-v18-latin-700.svg
  .storybook/fonts/opensans/open-sans-v18-latin-700.ttf
  .storybook/fonts/opensans/open-sans-v18-latin-700.woff
  .storybook/fonts/opensans/open-sans-v18-latin-700.woff2
  .storybook/fonts/opensans/open-sans-v18-latin-regular.eot
  .storybook/fonts/opensans/open-sans-v18-latin-regular.svg
  .storybook/fonts/opensans/open-sans-v18-latin-regular.ttf
  .storybook/fonts/opensans/open-sans-v18-latin-regular.woff
  .storybook/fonts/opensans/open-sans-v18-latin-regular.woff2
  .storybook/webpack.config.js
Due: none

chore: remove unused utils folder
  src/utils/utils.spec.ts
  src/utils/utils.ts
Due: yarn lint, yarn format

chore: rename helpers.scss to spacing.scss
  src/components/helpers/helpers.scss
  src/components/scss/component-helpers.scss
  src/components/scss/vars/spacing.scss
  src/components/zen-icon/zen-icon.scss
  src/components/zen-skeleton/zen-skeleton.scss
  src/components/zen-space/zen-space.scss
Due: yarn format

chore: move images used just in stories to src/storybook
  .storybook/zenTheme.js
  src/components/zen-avatar-icon/zen-avatar-icon.stories.mdx
  src/components/zen-dropdown/zen-dropdown.stories.mdx
  src/components/zen-menu-item/zen-option.stories.mdx
  src/stories/img/avatar.jpg
  src/stories/img/infinity-logo-tight_white.svg
  src/stories/img/reci-icon-g.png
  src/stories/img/reci-icon-r.png
  src/stories/img/reci-icon-y.png
  src/stories/img/reci-icon.png
Due: yarn format

chore: remove unused assets folder
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
Due: none

refactor: breakup variable.scss file
  src/stories/Colors.stories.mdx
  src/zen-styles/component-helpers.scss
  src/zen-styles/vars/spacing.scss
  src/zen-styles/vars/transitions.scss
  src/zen-styles/vars/typography.scss
  src/zen-styles/vars/variables.scss
Due: yarn format

test: clear getDefaultSlotContent mock after each test
  src/components/zen-table-row/test/zen-table-row.spec.tsx
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

test: move expandable icon test into second suite
  src/components/zen-table-row/test/zen-table-row.spec.tsx
Due: yarn lint, yarn format

refactor: cleanup code
  src/components/zen-table-row/test/zen-table-row.spec.tsx
Due: yarn lint, yarn format

chore: remove storybook assets from bundle
  .storybook/img/avatar.jpg
  .storybook/img/infinity-logo-tight_white.svg
  .storybook/img/reci-icon-g.png
  .storybook/img/reci-icon-r.png
  .storybook/img/reci-icon-y.png
  .storybook/img/reci-icon.png
  src/components/zen-avatar-group/zen-avatar-group.stories.mdx
  src/components/zen-avatar-icon/zen-avatar-icon.stories.mdx
  src/components/zen-dropdown/zen-dropdown.stories.mdx
  src/components/zen-menu-item/zen-option.stories.mdx
Due: yarn format

build: add alias for ./storybook folder
  .storybook/webpack.config.js
Due: none

build: replace references to ../../../.storybook with alias
  src/componentTemplate.stories.mdx.sample
  src/components/zen-avatar-details/zen-avatar-details.stories.mdx
  src/components/zen-avatar-group/zen-avatar-group.stories.mdx
  src/components/zen-avatar-icon/zen-avatar-icon.stories.mdx
  src/components/zen-avatar/zen-avatar.stories.mdx
  src/components/zen-breadcrumbs/zen-breadcrumbs.stories.mdx
  src/components/zen-button/zen-button.stories.mdx
  src/components/zen-card/zen-card.stories.mdx
  src/components/zen-checkbox/zen-checkbox.stories.mdx
  src/components/zen-date-picker/zen-date-picker.stories.mdx
  src/components/zen-divider/zen-divider.stories.mdx
  src/components/zen-drawer/zen-drawer.stories.mdx
  src/components/zen-dropdown/zen-dropdown.stories.mdx
  src/components/zen-icon/zen-icon.stories.mdx
  src/components/zen-input/zen-input.stories.mdx
  src/components/zen-menu-item/zen-option.stories.mdx
  src/components/zen-modal/zen-modal.stories.mdx
  src/components/zen-notification/zen-notification.stories.mdx
  src/components/zen-notifications-wrapper/zen-notifications-wrapper.stories.mdx
  src/components/zen-panel/zen-panel.stories.mdx
  src/components/zen-popover/zen-popover.stories.mdx
  src/components/zen-progress-tracker/zen-progress-tracker.stories.mdx
  src/components/zen-radio/zen-radio.stories.mdx
  src/components/zen-skeleton/zen-skeleton.stories.mdx
  src/components/zen-sortable-item/zen-sortable-item.stories.mdx
  src/components/zen-sortable/zen-sortable.stories.mdx
  src/components/zen-space/zen-space.stories.mdx
  src/components/zen-spinner/zen-spinner.stories.mdx
  src/components/zen-tab/zen-tab.stories.mdx
  src/components/zen-table-cell/zen-table-cell.stories.mdx
  src/components/zen-table-row/zen-table-row.stories.mdx
  src/components/zen-table/zen-table.stories.mdx
  src/components/zen-tabs/zen-tabs.stories.mdx
  src/components/zen-text/zen-text.stories.mdx
  src/components/zen-textarea/zen-textarea.stories.mdx
  src/components/zen-toggle/zen-toggle.stories.mdx
  src/components/zen-tooltip/zen-tooltip.stories.mdx
Due: yarn format

chore(release): 3.4.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  43b6a5b573fb720efaf09c3da75aa26a44737f62
Due: none

test: import SpecPage type
  src/components/zen-table-row/test/zen-table-row.spec.tsx
Due: yarn lint, yarn format

test: store original MockObserver and restore it after test
  src/components/helpers/jest.ts
  src/components/zen-table-row/test/zen-table-row.spec.tsx
Due: yarn lint, yarn format

test: refactor and improve mutationObserver mock type definition
  src/components/helpers/jest.ts
  src/components/zen-table-row/test/zen-table-row.spec.tsx
Due: yarn lint, yarn format

refactor: fix all ts errors in table row test
  src/components/zen-table-row/test/zen-table-row.spec.tsx
Due: yarn lint, yarn format

refactor: fix all ts errors in zen-table test
  src/components/zen-table/test/zen-table.spec.tsx
Due: yarn lint, yarn format

test(zen-datepicker): removed unnecesary tests from the input clear
  src/components/zen-date-picker/tests/zen-date-picker.spec.tsx
Due: yarn lint, yarn format

fix(zen-datepicker): now using zen-input clear button to clear datepicker
  src/components/zen-date-picker/zen-date-picker.tsx
Due: yarn lint, yarn format

feat(zen-input): when clear button is clicked a change event is triggered
  src/components/zen-input/zen-input.tsx
Due: yarn lint, yarn format

test: added clear button test back
  src/components/zen-date-picker/tests/zen-date-picker.spec.tsx
Due: yarn lint, yarn format

chore(release): 3.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  bb327aaa1b08146a03094c5d8dd83ea9f48b6e9f
Due: none

fix: enable React bindings deploy
  .circleci/config.yml
Due: none
