Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

Move logic for selected header to watch header selected propertie
  src/components/zen-table-header/zen-table-header.tsx
Due: yarn lint, yarn format

fix: remove documented lines for events and methods
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

Remove header selected changed from table
  src/components/zen-table/zen-table.tsx
Due: yarn lint, yarn format

fix: rebase and fix merge conflicts
  src/components/zen-table-header/zen-table-header.tsx
Due: yarn lint, yarn format

fix: updated conditional
  src/components/zen-table-header/zen-table-header.tsx
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

feat: added invalid state to zen-textarea
  src/components.d.ts
  src/components/zen-textarea/zen-textarea.scss
  src/components/zen-textarea/zen-textarea.tsx
Due: yarn lint, yarn format

feat: added invalid state to zen-dropdown
  src/components.d.ts
  src/components/zen-dropdown/zen-dropdown.scss
  src/components/zen-dropdown/zen-dropdown.tsx
Due: yarn lint, yarn format

feat: added invalid state to zen-datepicker
  src/components.d.ts
  src/components/zen-date-picker/zen-date-picker.scss
  src/components/zen-date-picker/zen-date-picker.tsx
Due: yarn lint, yarn format

fix: added invalid style to correct field
  src/components/zen-dropdown/zen-dropdown.scss
Due: yarn format

fix: updated reflected indeterminate property and added $ convention
  src/components.d.ts
  src/components/zen-table-header/zen-table-header.tsx
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

fix: changed story title
  src/components/zen-avatar-details/zen-avatar-details.stories.mdx
Due: yarn format

fix: change avatar variant to be a class property
  src/components/helpers/types.ts
  src/components/zen-avatar-details/zen-avatar-details.tsx
Due: yarn lint, yarn format

feat: adds stories for the new component variant possibilities
  src/components/zen-avatar-details/zen-avatar-details.stories.mdx
Due: yarn format

fix: fix rebase conflicts issues with padding
  src/components/zen-avatar-details/zen-avatar-details.tsx
Due: yarn lint, yarn format

feat: reimplemented variants and added basic default and basic large
  src/components.d.ts
  src/components/helpers/types.ts
  src/components/zen-avatar-details/test/zen-avatar-details.spec.tsx
  src/components/zen-avatar-details/zen-avatar-details.stories.mdx
  src/components/zen-avatar-details/zen-avatar-details.tsx
Due: yarn lint, yarn format

fix: changed implementation based on pr review suggestions
  src/components/zen-avatar-details/zen-avatar-details.tsx
Due: yarn lint, yarn format

fix: switch basic variant sizes
  src/components/zen-avatar-details/zen-avatar-details.stories.mdx
  src/components/zen-avatar-details/zen-avatar-details.tsx
Due: yarn lint, yarn format

fix: rebased and fixed merge conflicts
  src/components.d.ts
  src/components/zen-avatar-details/zen-avatar-details.tsx
Due: yarn lint, yarn format

fix: add and update vrt snapshots
  cypress/integration/visual/avatarDetails.e2e.js
  cypress/snapshots/visual/avatarDetails.e2e.js/Avatar details visual tests -- Verifies story--icons-avatar-avatar-details--default-story.snap.png
  cypress/snapshots/visual/avatarDetails.e2e.js/Avatar details visual tests -- Verifies story--icons-avatar-avatar-details--story-variants.snap.png
Due: none

fix: update tests and vrt snapshots
  cypress/snapshots/visual/avatarDetails.e2e.js/Avatar details visual tests -- Verifies story--icons-avatar-avatar-details--story-variants.snap.png
  src/components/zen-avatar-details/test/zen-avatar-details.spec.tsx
Due: yarn lint, yarn format

feat: adds additional variant for the avatar detail component
  src/components.d.ts
  src/components/helpers/types.ts
  src/components/zen-avatar-details/zen-avatar-details.tsx
Due: yarn lint, yarn format

fix: test coverage
  src/components/zen-avatar-details/test/zen-avatar-details.spec.tsx
Due: yarn lint, yarn format

style: added transition to invalid box-shadow
  src/components/zen-dropdown/zen-dropdown.scss
  src/components/zen-textarea/zen-textarea.scss
Due: yarn format

chore: add semantic-release config
  .releaserc
Due: none

ci: add semantic-release to the pipeline
  .circleci/config.yml
Due: none

chore: disable public NPM for initial testings
  .releaserc
Due: none

ci: use yarn instead of npx
  .circleci/config.yml
Due: none

chore: delete old CHANGELOG
  src/stories/changelog.stories.mdx
Due: yarn format

chore: add Storybook plugin for the changelog
  .gitignore
  .storybook/changelog-base.mdx
  .storybook/changelog.js
  .storybook/main.js
Due: none

docs: update the contributing guidelines
  docs/contributing.md
Due: none

chore: update version on package.json
  package.json
Due: none

chore: remove unnecessary npm scripts
  package.json
Due: none

fix: change variant name to dashed for consistency in code
  src/components/helpers/types.ts
  src/components/zen-avatar-details/test/zen-avatar-details.spec.tsx
  src/components/zen-avatar-details/zen-avatar-details.stories.mdx
  src/components/zen-avatar-details/zen-avatar-details.tsx
Due: yarn lint, yarn format

fix: removed indeterminate prop from row story and fixed header story
  src/components/zen-table-header/zen-table-header.stories.mdx
  src/components/zen-table-row/zen-table-row.stories.mdx
Due: yarn format

fix: avatar group sizes not beiing applied on avatar group
  src/components/zen-avatar-group/zen-avatar-group.tsx
Due: yarn lint, yarn format

fix: rename basic type to basic and basic-lg
  src/components/helpers/types.ts
  src/components/zen-avatar-details/test/zen-avatar-details.spec.tsx
  src/components/zen-avatar-details/zen-avatar-details.stories.mdx
  src/components/zen-avatar-details/zen-avatar-details.tsx
Due: yarn lint, yarn format

feat: add open close events
  src/components.d.ts
  src/components/zen-panel/zen-panel.stories.mdx
  src/components/zen-panel/zen-panel.tsx
Due: yarn lint, yarn format

test: add unit tests
  src/components/zen-panel/test/zen-panel.spec.tsx
Due: yarn lint, yarn format

refactor: remove duplicated if
  src/components/zen-panel/zen-panel.tsx
Due: yarn lint, yarn format

docs: move modal under layout
  cypress/integration/visual/modal.e2e.js
  src/components/zen-modal/zen-modal.stories.mdx
Due: yarn format

Path conditions:
  yarn lint: any of: src/**/*.{js,ts,tsx}
  yarn format: (any of: src/**/*.{js,ts,tsx}) or (any of: src/**/*.{scss,md,mdx})
