Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

.lintstagedrc:

{
  "src/**/*.{js,ts,tsx}": ["yarn lint", "yarn format"],
  "src/**/*.{scss,md,mdx}": ["yarn format"]
}

feat: add margins css
  src/components/helpers/helpers.scss
  src/components/zen-space/zen-space.scss
Due: yarn format

docs: show compact margin prop in props table
  .storybook/helpers/argTypes.js
Due: none

fix: minimize padding css size print
  src/components/helpers/helpers.scss
  src/components/helpers/helpers.ts
  src/components/helpers/tests/helpers.spec.tsx
Due: yarn lint, yarn format

fix: spacing should use same values as padding
  src/components/zen-space/zen-space.scss
  src/stories/changelog.stories.mdx
Due: yarn format

feat(zen-space): add display block prop
  src/components.d.ts
  src/components/zen-space/zen-space.scss
  src/components/zen-space/zen-space.tsx
Due: yarn lint, yarn format

chore: install semantic-release
  package.json
  yarn.lock
Due: none

docs: add a CHANGELOG compatible with semantic-release
  CHANGELOG.md
Due: none

feat(zen-card): add prop `padding`
  cypress/integration/visual/card.e2e.js
  cypress/snapshots/visual/card.e2e.js/Card visual tests -- Verifies story--containers-card--card.snap.png
  cypress/snapshots/visual/card.e2e.js/Card visual tests -- Verifies story--containers-card--default-story.snap.png
  cypress/snapshots/visual/card.e2e.js/Card visual tests -- Verifies story--containers-card--disabled.snap.png
  cypress/snapshots/visual/card.e2e.js/Card visual tests -- Verifies story--layout-card--card.snap.png
  cypress/snapshots/visual/card.e2e.js/Card visual tests -- Verifies story--layout-card--default-story.snap.png
  cypress/snapshots/visual/card.e2e.js/Card visual tests -- Verifies story--layout-card--disabled.snap.png
  src/components.d.ts
  src/components/zen-card/zen-card.stories.mdx
  src/components/zen-card/zen-card.tsx
  src/stories/changelog.stories.mdx
Due: yarn lint, yarn format

feat(zen-drawer): add prop `padding`
  src/components.d.ts
  src/components/zen-drawer/zen-drawer.scss
  src/components/zen-drawer/zen-drawer.stories.mdx
  src/components/zen-drawer/zen-drawer.tsx
Due: yarn lint, yarn format

feat(zen-panel): add prop `padding`
  src/components.d.ts
  src/components/zen-panel/zen-panel.tsx
Due: yarn lint, yarn format

feat(zen-popover): add prop `padding`
  src/components.d.ts
  src/components/zen-popover/zen-popover.tsx
Due: yarn lint, yarn format

feat(zen-option): add prop `padding`
  src/components.d.ts
  src/components/zen-dropdown/zen-dropdown.stories.mdx
  src/components/zen-menu-item/zen-option.scss
  src/components/zen-menu-item/zen-option.stories.mdx
  src/components/zen-menu-item/zen-option.tsx
  src/stories/changelog.stories.mdx
Due: yarn lint, yarn format

feat(zen-popover): remove zen-space wrappers from stories
  cypress/integration/functional/popover.e2e.js
  src/components/zen-popover/zen-popover.stories.mdx
Due: yarn format

fix: don't reflect paddings that are just forwarded
  src/components/zen-avatar-details/zen-avatar-details.tsx
  src/components/zen-card/zen-card.tsx
  src/components/zen-drawer/zen-drawer.tsx
  src/components/zen-panel/zen-panel.tsx
  src/components/zen-popover/zen-popover.tsx
  src/components/zen-tooltip/zen-tooltip.tsx
Due: yarn lint, yarn format

feat(zen-skeleton): add prop `padding`
  src/components.d.ts
  src/components/zen-skeleton/zen-skeleton.tsx
Due: yarn lint, yarn format

feat(zen-tooltip): add prop `padding`
  src/components.d.ts
  src/components/zen-tooltip/zen-tooltip.stories.mdx
  src/components/zen-tooltip/zen-tooltip.tsx
  src/stories/changelog.stories.mdx
Due: yarn lint, yarn format

feat(zen-text): add prop state
  src/components.d.ts
  src/components/helpers/types.ts
  src/components/zen-text/zen-text.scss
  src/components/zen-text/zen-text.tsx
Due: yarn lint, yarn format

docs: add stories
  src/components/zen-text/zen-text.stories.mdx
Due: yarn format

test: update vrt snapshots
  cypress/snapshots/visual/text.e2e.js/Text visual tests -- Verifies story--typography-text--label.snap.png
Due: none

fix(zen-skeleton): support padding
  src/components/zen-skeleton/zen-skeleton.scss
  src/components/zen-skeleton/zen-skeleton.tsx
Due: yarn lint, yarn format

fix(zen-avatar-details): add none option to spacing prop
  src/components.d.ts
  src/components/zen-avatar-details/zen-avatar-details.tsx
Due: yarn lint, yarn format

fix(zen-avatar): remove margins between tooltip items
  src/components/zen-avatar/zen-avatar.scss
  src/components/zen-avatar/zen-avatar.tsx
Due: yarn lint, yarn format

fix(zen-avatar-details): horz align left
  src/components/zen-avatar-details/zen-avatar-details.scss
Due: yarn format

docs: update guidelines for padding defaults
  docs/components-guidelines.md
Due: none

feat: hide clear button if no input.value
  src/components/zen-input/zen-input.tsx
Due: yarn lint, yarn format

feat: add clear button
  src/components/zen-input/zen-input.scss
  src/components/zen-input/zen-input.tsx
Due: yarn lint, yarn format

feat: hide clear button if not input focused
  src/components/zen-input/zen-input.tsx
Due: yarn lint, yarn format

feat: hide default clear button on date picker
  src/components/zen-date-picker/zen-date-picker.tsx
Due: yarn lint, yarn format

feat: add option to hide clear button
  src/components.d.ts
  src/components/zen-input/zen-input.tsx
Due: yarn lint, yarn format

feat: clear input on click
  src/components/zen-input/zen-input.tsx
Due: yarn lint, yarn format

test: add unit tests for clear button
  src/components/zen-input/test/zen-input.spec.tsx
  src/components/zen-input/zen-input.tsx
Due: yarn lint, yarn format

Move row selection logic to watched selected property
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

Move row expand logic to watched expand property
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

Remove selected changed from table
  src/components/zen-table/zen-table.tsx
Due: yarn lint, yarn format

Remove expand logic and methods from table
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

Code cleanup
  src/components.d.ts
  src/components/zen-table-header/zen-table-header.tsx
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

refactor: updated functionality to make zen-table work properly
  src/components/zen-table-header/zen-table-header.tsx
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

Fix property not mutable issue
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

refactor: improved some logic from the previous commit
  src/components/zen-table-header/zen-table-header.tsx
  src/components/zen-table-row/zen-table-row.tsx
  src/components/zen-table/zen-table.stories.mdx
Due: yarn lint, yarn format

Add description for slots, events, methods
  src/components/zen-table-header/zen-table-header.tsx
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format
