Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

test(zen-lozenge): added some variant tests
  src/components/zen-lozenge/test/zen-lozenge.spec.tsx
Due: yarn lint, yarn format

test(zen-lozenge): added vrt
  cypress/integration/visual/lozenge.e2e.js
  cypress/snapshots/visual/lozenge.e2e.js/Lozenge visual tests -- Verifies story--graphics-lozenge--default-story.snap.png
  cypress/snapshots/visual/lozenge.e2e.js/Lozenge visual tests -- Verifies story--graphics-lozenge--story-variants.snap.png
Due: none

chore(zen-lozenge): updated jsdoc comments
  src/components.d.ts
  src/components/zen-lozenge/zen-lozenge.tsx
Due: yarn lint, yarn format

fix: bug if formatted date is set to today
  src/components/zen-date-picker/zen-date-picker.tsx
Due: yarn lint, yarn format

chore(release): 4.0.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f25ca63e1f9b5702eabec1a0b2cbc896549252cd
Due: none

chore(zen-lozenge): corrected display type and large variant in stories
  src/components/zen-lozenge/zen-lozenge.scss
  src/components/zen-lozenge/zen-lozenge.stories.mdx
Due: yarn format

fix(zen-table): add table column type
  src/components.d.ts
  src/components/zen-table/zen-table.tsx
Due: yarn lint, yarn format

test(zen-lozenge): updated vrt
  cypress/snapshots/visual/lozenge.e2e.js/Lozenge visual tests -- Verifies story--graphics-lozenge--default-story.snap.png
  cypress/snapshots/visual/lozenge.e2e.js/Lozenge visual tests -- Verifies story--graphics-lozenge--story-variants.snap.png
Due: none

chore(release): 4.0.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  bffb70fc4b148bb98f9f48ec80d2565eb9c6b6cd
Due: none

chore(release): 4.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1e248c0b66033e1b2aa515a69108f1ae27645eb8
Due: none

feat(zen-lozenge): add additional variant none and a disabled option
  src/components.d.ts
  src/components/helpers/types.ts
  src/components/zen-lozenge/zen-lozenge.scss
  src/components/zen-lozenge/zen-lozenge.stories.mdx
  src/components/zen-lozenge/zen-lozenge.tsx
Due: yarn lint, yarn format

chore: remove tooltip width definition
  src/components/zen-tooltip/zen-tooltip.stories.mdx
Due: yarn format

fix(popover): max-width and width should be passed from parent
  src/components/zen-popover/zen-popover.scss
Due: yarn format

docs: fix filter popover width
  src/components/zen-popover/zen-popover.stories.mdx
Due: yarn format

chore: define tooltip width and pass it to popover
  src/components/zen-tooltip/zen-tooltip.scss
Due: yarn format

chore(tooltip): remove prop `maxWidth`
  src/components.d.ts
  src/components/zen-tooltip/zen-tooltip.tsx
Due: yarn lint, yarn format

fix(zen-lozenge): remove unused import
  src/components/zen-lozenge/zen-lozenge.stories.mdx
Due: yarn format

fix(zen-lozenge): change none lozenge font weight
  src/components/zen-lozenge/zen-lozenge.scss
  src/components/zen-lozenge/zen-lozenge.stories.mdx
Due: yarn format

feat(zen-status-tracker): add status tracker
  src/components.d.ts
  src/components/zen-status-tracker/test/zen-status-tracker.spec.tsx
  src/components/zen-status-tracker/zen-status-tracker.scss
  src/components/zen-status-tracker/zen-status-tracker.stories.mdx
  src/components/zen-status-tracker/zen-status-tracker.tsx
Due: yarn lint, yarn format

test(zen-status-tracker): add unit tests
  src/components/zen-status-tracker/test/zen-status-tracker.spec.tsx
  src/components/zen-status-tracker/zen-status-tracker.stories.mdx
  src/components/zen-status-tracker/zen-status-tracker.tsx
Due: yarn lint, yarn format

test(zen-status-tracker): add visual regression tests
  cypress/integration/visual/statusTracker.e2e.js
  cypress/snapshots/visual/statusTracker.e2e.js/Status tracker visual tests -- Verifies story--navigation-status-tracker--default-story.snap.png
  cypress/snapshots/visual/statusTracker.e2e.js/Status tracker visual tests -- Verifies story--navigation-status-tracker--story-selected.snap.png
Due: none

test(zen-lozenge): update vrt for lozenge
  cypress/snapshots/visual/lozenge.e2e.js/Lozenge visual tests -- Verifies story--graphics-lozenge--story-variants.snap.png
Due: none

refactor(zen-status-tracker): refactor and code clean up
  src/components/zen-status-tracker/test/zen-status-tracker.spec.tsx
  src/components/zen-status-tracker/zen-status-tracker.tsx
Due: yarn lint, yarn format

fix(zen-tabs): prevent selected tab jumping
  src/components/zen-tab/zen-tab.scss
Due: yarn format

feat(zen-date-picker): added disableBeforeDate and disableAfterDate props
  src/components.d.ts
  src/components/zen-date-picker/zen-date-picker.tsx
Due: yarn lint, yarn format

chore: added pointer-events none to disabled zen-text
  src/components/zen-text/zen-text.scss
Due: yarn format

chore(zen-date-picker): updated some jsdoc comments
  src/components.d.ts
  src/components/zen-date-picker/zen-date-picker.tsx
Due: yarn lint, yarn format

test(zen-date-picker): added new VRT
  cypress/integration/visual/date-picker.e2e.js
  cypress/snapshots/visual/date-picker.e2e.js/Date-picker visual tests -- Verifies story--forms-date-picker--disable-before-after-dates.snap.png
Due: none

chore(zen-date-picker): added story for disableBeforeDate and disableAfterDate
  src/components/zen-date-picker/zen-date-picker.stories.mdx
Due: yarn format

test(zen-date-picker): added tests for disableAfterDate and disableBeforeDate props
  src/components/zen-date-picker/tests/zen-date-picker.spec.tsx
Due: yarn lint, yarn format

refactor(zen-date-picker): updated internal code to avoid date inconsistencies
  src/components/zen-date-picker/zen-date-picker.tsx
Due: yarn lint, yarn format

test(zen-date-picker): updated disabledAfterDate prop test
  src/components/zen-date-picker/tests/zen-date-picker.spec.tsx
Due: yarn lint, yarn format

refactor(zen-date-picker): added hours, minutes and seconds to the afterDate
  src/components/zen-date-picker/zen-date-picker.tsx
Due: yarn lint, yarn format

test(zen-date-picker): updated disabledAfter test
  src/components/zen-date-picker/tests/zen-date-picker.spec.tsx
Due: yarn lint, yarn format

chore(release): 4.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2f842ca916a0d6aaaa92ce6b9fe42dd0ae621502
Due: none

chore: switch width and max-width
  src/components/zen-avatar/zen-avatar.tsx
  src/components/zen-popover/zen-popover.scss
  src/components/zen-popover/zen-popover.stories.mdx
  src/components/zen-tooltip/zen-tooltip.scss
Due: yarn lint, yarn format

Path conditions:
  yarn lint: any of: src/**/*.{js,ts,tsx}
  yarn format: (any of: src/**/*.{js,ts,tsx}) or (any of: src/**/*.{scss,md,mdx})
