Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

.lintstagedrc:

{
  "src/**/*.{js,ts,tsx}": ["yarn lint", "yarn format"],
  "src/**/*.{scss,md,mdx}": ["yarn format"]
}

docs: fix storybook elements overlapping dropdown
  .storybook/preview.scss
Due: none

fix(zen-avatar-group): changes on data in storybook were not reflected
  src/components/zen-avatar-group/zen-avatar-group.stories.mdx
Due: yarn format

fix(zen-avatar-details): add no wrap style
  src/components/zen-avatar-details/zen-avatar-details.scss
  src/components/zen-avatar-details/zen-avatar-details.tsx
Due: yarn lint, yarn format

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  afe09cf3ea7dc8351793049cc88c4d6476f77661
Due: none

test(zen-table-row): add test for tree indeterminate state
  src/components/zen-table-row/test/zen-table-row.spec.tsx
Due: yarn lint, yarn format

refactor(zen-table-row): cleanup test code even more
  src/components/zen-table-row/test/zen-table-row.spec.tsx
Due: yarn lint, yarn format

test: update avatar group test
  cypress/integration/visual/avatarGroup.e2e.js
  cypress/snapshots/visual/avatarGroup.e2e.js/Avatar colors - icons.snap.png
  cypress/snapshots/visual/avatarGroup.e2e.js/Avatar colors popover.snap.png
  cypress/snapshots/visual/avatarGroup.e2e.js/Avatar group - large icons with 3 icons.snap.png
  cypress/snapshots/visual/avatarGroup.e2e.js/Avatar group - medium icons.snap.png
  cypress/snapshots/visual/avatarGroup.e2e.js/Avatar group popover - multiple users.snap.png
  cypress/snapshots/visual/avatarGroup.e2e.js/Avatar group popover - single user.snap.png
  cypress/snapshots/visual/avatarGroup.e2e.js/Avatar group visual tests -- Verifies story--icons-avatar-avatar-group--story-avatar-group.snap.png
Due: none

refactor: updated input const type and validation in focusInput method
  src/components/zen-textarea/zen-textarea.tsx
Due: yarn lint, yarn format

chore(release): 2.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  eeea8d7db35822cbaae45ee8d3db9f476f60bc1a
Due: none

chore(release): 2.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7a0ac77b426382d3af4c1b579820b5937df17b71
Due: none

chore: remove redundant css files
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: none

test: update progress tracker screenshot
  cypress/snapshots/visual/progress-tracker.e2e.js/Progress tracker visual tests -- Verifies story--navigation-progress-tracker--default-story.snap.png
Due: none

fix: replace em units with rem
  src/components/zen-divider/zen-divider.scss
  src/components/zen-progress-tracker/zen-progress-tracker.scss
  src/zen-styles/variables.scss
Due: yarn format

chore(release): 2.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  3760405e71e5e4b4f9a1279ea35da79321103ad3
Due: none

chore(release): 2.2.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e1680a5dbcd2b847ec6066c3b4156202f9bb231d
Due: none

fix(zen-button): change variant names
  src/components/zen-button/types.tsx
  src/components/zen-button/zen-button.scss
  src/components/zen-button/zen-button.stories.mdx
  src/components/zen-button/zen-button.tsx
Due: yarn lint, yarn format

test: updated button tests
  src/components/zen-button/test/zen-button.spec.tsx
Due: yarn lint, yarn format

test: updated vrt for zen-button
  cypress/snapshots/visual/button.e2e.js/Button visual tests -- Verifies story--forms-button--default-story.snap.png
  cypress/snapshots/visual/button.e2e.js/Button visual tests -- Verifies story--forms-button--story-simple.snap.png
Due: none

chore: updated button variant on story
  src/components/zen-button/zen-button.stories.mdx
Due: yarn format

test: updated vrt for drawer with new button variant
  cypress/integration/visual/drawer.e2e.js
  cypress/snapshots/visual/drawer.e2e.js/Drawer visual tests -- Verifies story--containers-drawer--default-story.snap.png
  cypress/snapshots/visual/drawer.e2e.js/Drawer visual tests -- Verifies that drawer closes on close icon story--containers-drawer--default-story.snap.png
  cypress/snapshots/visual/drawer.e2e.js/Drawer visual tests -- Verifies that drawer opens story--containers-drawer--default-story.snap.png
  cypress/snapshots/visual/drawer.e2e.js/Drawer visual tests -- Verifies that we can set position and drawer opens story--containers-drawer--default-story.snap.png
Due: none

refactor: updated zen-button variants in stories
  src/componentTemplate.stories.mdx.sample
  src/components/zen-drawer/zen-drawer.tsx
  src/components/zen-modal/zen-modal.stories.mdx
  src/components/zen-modal/zen-modal.tsx
  src/components/zen-popover/zen-popover.stories.mdx
  src/components/zen-tooltip/zen-tooltip.stories.mdx
Due: yarn lint, yarn format

fix(zen-dropdown): fix menu height not being applied
  src/components.d.ts
  src/components/zen-dropdown/zen-dropdown.tsx
Due: yarn lint, yarn format

fix(zen-dropdown): change to apply max-height instead of height
  src/components/zen-dropdown/zen-dropdown.tsx
Due: yarn lint, yarn format

fix(zen-drawer): completely hides drawer on close
  src/components/zen-drawer/zen-drawer.tsx
Due: yarn lint, yarn format

fix(zen-avatar-icon): removed lg size
  src/components/helpers/types.ts
  src/components/zen-avatar-icon/zen-avatar-icon.stories.mdx
  src/components/zen-avatar-icon/zen-avatar-icon.tsx
Due: yarn lint, yarn format

test: updated vrt for avatar-icon and avatar-details
  cypress/snapshots/visual/avatarDetails.e2e.js/Avatar details visual tests -- Verifies story--graphics-avatar-avatar-details--default-story.snap.png
  cypress/snapshots/visual/avatarDetails.e2e.js/Avatar details visual tests -- Verifies story--graphics-avatar-avatar-details--story-variants.snap.png
  cypress/snapshots/visual/avatarIcon.e2e.js/Avatar icon visual tests -- Verifies story--graphics-avatar-avatar-icon--default-story.snap.png
  cypress/snapshots/visual/avatarIcon.e2e.js/Avatar icon visual tests -- Verifies story--graphics-avatar-avatar-icon--story-avatar-sizes.snap.png
  cypress/snapshots/visual/avatarIcon.e2e.js/Avatar icon visual tests -- Verifies story--graphics-avatar-avatar-icon--story-avatar-variants.snap.png
  src/components.d.ts
Due: yarn lint, yarn format

feat(zen-tooltip): add max width prop
  src/components.d.ts
  src/components/zen-tooltip/zen-tooltip.tsx
Due: yarn lint, yarn format

fix(zen-tooltip): update story styles to equal the wireframes
  src/components/zen-tooltip/zen-tooltip.stories.mdx
  src/components/zen-tooltip/zen-tooltip.tsx
Due: yarn lint, yarn format

test(zen-tooltip): update vrt snapshots
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--default-story.snap.png
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--scrollable.snap.png
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--slot.snap.png
  cypress/snapshots/visual/tooltip.e2e.js/dark.snap.png
  cypress/snapshots/visual/tooltip.e2e.js/error.snap.png
  cypress/snapshots/visual/tooltip.e2e.js/light.snap.png
Due: none

test(zen-dropdown): update vrt snapshots
  cypress/snapshots/visual/dropdown.e2e.js/Dropdown visual tests -- Verifies opened dropdown in story--forms-dropdown-dropdown--button.snap.png
  cypress/snapshots/visual/dropdown.e2e.js/Dropdown visual tests -- Verifies opened dropdown in story--forms-dropdown-dropdown--default-story.snap.png
Due: none

chore(release): 2.2.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  708767fd2d34bdb7cf6ae6cbb6d37929777e03c4
Due: none

chore: setup react bindings build
  .gitignore
  package.json
  stencil.config.ts
  yarn.lock
Due: none

chore(release): 2.2.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c638345b44a47396be7f7275ed62eeca68794ae2
Due: none
