Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

.lintstagedrc:

{
  "src/**/*.{js,ts,tsx}": ["yarn lint", "yarn format"],
  "src/**/*.{scss,md,mdx}": ["yarn format"]
}

test: remove duplicated variable
  cypress/integration/visual/date-picker.e2e.js
Due: none

Initial commit
  package.json
  src/components/zen-draggable/zen-draggable.stories.mdx
  src/components/zen-draggable/zen-draggable.tsx
  yarn.lock
Due: yarn lint, yarn format

Initial commit
  src/components.d.ts
Due: yarn lint, yarn format

Fixed sortable initialization
  src/components.d.ts
  src/components/zen-draggable/zen-draggable.scss
  src/components/zen-draggable/zen-draggable.stories.mdx
  src/components/zen-draggable/zen-draggable.tsx
  yarn.lock
Due: yarn lint, yarn format

Code cleanup
  src/components/zen-sortable/zen-sortable.stories.mdx
  src/components/zen-sortable/zen-sortable.tsx
Due: yarn lint, yarn format

Add data property and draggable item
  src/components.d.ts
  src/components/helpers/types.ts
  src/components/zen-sortable/zen-sortable.scss
  src/components/zen-sortable/zen-sortable.stories.mdx
  src/components/zen-sortable/zen-sortable.tsx
Due: yarn lint, yarn format

Add test cases
  src/components/zen-sortable/test/zen-sortable.spec.tsx
Due: yarn lint, yarn format

Change that it gets the list of data-id s from sortablejs
  src/components/zen-sortable/zen-sortable.stories.mdx
  src/components/zen-sortable/zen-sortable.tsx
Due: yarn lint, yarn format

Add test cases
  src/components.d.ts
  src/components/helpers/types.ts
  src/components/zen-sortable/test/zen-sortable.spec.tsx
Due: yarn lint, yarn format

Add triggering event on item position change
  src/components/helpers/types.ts
  src/components/zen-sortable/zen-sortable.scss
  src/components/zen-sortable/zen-sortable.stories.mdx
  src/components/zen-sortable/zen-sortable.tsx
Due: yarn lint, yarn format

feat: add event log function to storybook
  src/components/zen-sortable/zen-sortable.stories.mdx
Due: yarn format

feat: add exception if data-id prop for an item was not set
  src/components/zen-sortable/zen-sortable.tsx
Due: yarn lint, yarn format

Rename to zen sortable
  src/components.d.ts
  src/components/zen-sortable/zen-sortable.scss
  src/components/zen-sortable/zen-sortable.stories.mdx
  src/components/zen-sortable/zen-sortable.tsx
Due: yarn lint, yarn format

Revert "Add test cases"
  src/components/zen-sortable/test/zen-sortable.spec.tsx
Due: yarn lint, yarn format

fix: wrong tag name for docs
  src/components/zen-sortable/zen-sortable.stories.mdx
Due: yarn format

Add event to return ids and code clenup
  src/components/zen-sortable-item/zen-sortable-item.scss
  src/components/zen-sortable-item/zen-sortable-item.stories.mdx
  src/components/zen-sortable-item/zen-sortable-item.tsx
  src/components/zen-sortable/zen-sortable.scss
  src/components/zen-sortable/zen-sortable.stories.mdx
  src/components/zen-sortable/zen-sortable.tsx
Due: yarn lint, yarn format

fix: update test cases
  src/components/zen-sortable-item/test/zen-sortable-item.spec.tsx
  src/components/zen-sortable/test/zen-sortable.spec.tsx
Due: yarn lint, yarn format

Add zen sortable item
  src/components.d.ts
  src/components/zen-sortable-item/test/zen-sortable-item.spec.tsx
  src/components/zen-sortable-item/zen-sortable-item.scss
  src/components/zen-sortable-item/zen-sortable-item.stories.mdx
  src/components/zen-sortable-item/zen-sortable-item.tsx
Due: yarn lint, yarn format

fix: match story to designs
  src/components/helpers/types.ts
  src/components/zen-sortable-item/zen-sortable-item.tsx
  src/components/zen-sortable/zen-sortable.stories.mdx
Due: yarn lint, yarn format

refactor: move sortable to lists menu and update vrt test
  cypress/integration/visual/sortable.e2e.js
  cypress/snapshots/visual/sortable.e2e.js/Sortable visual tests -- Verifies story--lists-sortable-sortable--default-story.snap.png
  cypress/snapshots/visual/sortable.e2e.js/Sortable visual tests -- Verifies story--lists-sortable-sortable--sortable.snap.png
  src/components/zen-sortable-item/zen-sortable-item.stories.mdx
  src/components/zen-sortable/zen-sortable.stories.mdx
Due: yarn format

Update zen sortable to use zen sortable item
  src/components/zen-sortable-item/test/zen-sortable-item.spec.tsx
  src/components/zen-sortable-item/zen-sortable-item.stories.mdx
  src/components/zen-sortable-item/zen-sortable-item.tsx
  src/components/zen-sortable/test/zen-sortable.spec.tsx
  src/components/zen-sortable/zen-sortable.scss
  src/components/zen-sortable/zen-sortable.stories.mdx
  src/components/zen-sortable/zen-sortable.tsx
Due: yarn lint, yarn format

Add snapshot tests
  cypress/integration/visual/sortable.e2e.js
  cypress/snapshots/visual/sortable.e2e.js/Sortable visual tests -- Verifies story--in-progress-sortable-sortable--default-story.snap.png
  cypress/snapshots/visual/sortable.e2e.js/Sortable visual tests -- Verifies story--in-progress-sortable-sortable--sortable.snap.png
Due: none

fix: update snapshots
  cypress/snapshots/visual/sortable.e2e.js/Sortable visual tests -- Verifies story--lists-sortable-sortable--default-story.snap.png
  cypress/snapshots/visual/sortable.e2e.js/Sortable visual tests -- Verifies story--lists-sortable-sortable--sortable.snap.png
Due: none

fix: update sortable snapshots
  cypress/snapshots/visual/sortable.e2e.js/Sortable visual tests -- Verifies story--lists-sortable-sortable--default-story.snap.png
  cypress/snapshots/visual/sortable.e2e.js/Sortable visual tests -- Verifies story--lists-sortable-sortable--sortable.snap.png
Due: none

docs: update story description
  src/components/zen-sortable/zen-sortable.stories.mdx
Due: yarn format

docs: changed story description
  src/components/zen-sortable/zen-sortable.stories.mdx
Due: yarn format

refactor: added zen space and padding prop to item and updated stories
  src/components.d.ts
  src/components/zen-sortable-item/zen-sortable-item.scss
  src/components/zen-sortable-item/zen-sortable-item.stories.mdx
  src/components/zen-sortable-item/zen-sortable-item.tsx
  src/components/zen-sortable/zen-sortable.scss
  src/components/zen-sortable/zen-sortable.stories.mdx
Due: yarn lint, yarn format

fix: format sortable components
  src/components/zen-sortable-item/zen-sortable-item.stories.mdx
  src/components/zen-sortable/zen-sortable.stories.mdx
Due: yarn format

fix: datepicker not closed on clicking out
  src/components/zen-date-picker/zen-date-picker.tsx
Due: yarn lint, yarn format

fix: wrap header and content into zen-space
  src/components/zen-panel/zen-panel.scss
  src/components/zen-panel/zen-panel.stories.mdx
  src/components/zen-panel/zen-panel.tsx
  src/stories/changelog.stories.mdx
Due: yarn lint, yarn format

refactor: remove internalVisible prop
  src/components/zen-panel/zen-panel.scss
  src/components/zen-panel/zen-panel.tsx
Due: yarn lint, yarn format

feat: animate chevron icon
  src/components/zen-panel/zen-panel.scss
  src/components/zen-panel/zen-panel.tsx
Due: yarn lint, yarn format

feat: open content with animation
  src/components/zen-panel/zen-panel.scss
  src/components/zen-panel/zen-panel.tsx
Due: yarn lint, yarn format

fix: suppress initial animation
  src/components/zen-panel/zen-panel.tsx
Due: yarn lint, yarn format

test: update unit tests
  src/components/zen-panel/test/zen-panel.spec.tsx
Due: yarn lint, yarn format

test: update visual test screenshots
  cypress/snapshots/visual/panel.e2e.js/Panel visual tests -- Verifies story--layout-panel--default-story.snap.png
  cypress/snapshots/visual/panel.e2e.js/Panel visual tests -- Verifies story--layout-panel--divs.snap.png
  cypress/snapshots/visual/panel.e2e.js/Panel visual tests -- Verifies story--layout-panel--form-element-visible.snap.png
  cypress/snapshots/visual/panel.e2e.js/Panel visual tests -- Verifies story--layout-panel--form-element.snap.png
  cypress/snapshots/visual/panel.e2e.js/Panel visual tests -- Verifies story--layout-panel--text.snap.png
Due: none

feat: change avatar group input array object
  src/components.d.ts
  src/components/helpers/types.ts
  src/components/zen-avatar-group/zen-avatar-group.tsx
Due: yarn lint, yarn format

feat: update avatar group story with color override option example
  src/components/zen-avatar-group/zen-avatar-group.stories.mdx
Due: yarn format

feat: add test case for color override
  src/components/zen-avatar-group/test/zen-avatar-group.spec.tsx
Due: yarn lint, yarn format

fix: add vrt new story and update snapshots
  cypress/integration/visual/avatarGroup.e2e.js
  cypress/snapshots/visual/avatarGroup.e2e.js/Avatar group visual tests -- Verifies story--icons-avatar-avatar-group--story-avatar-group-colors.snap.png
Due: none
