Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

Notes added by 'git notes add'
  80ef3ea5885d32b249c18f4ebe64016f4855af2f
Due: none

fix(zen-sidebar): add missing annotation
  src/components.d.ts
  src/components/zen-sidebar/zen-sidebar.tsx
Due: yarn lint, yarn format

fix(zen-sidebar-nav-item): updated event name to zenSelect
  src/components.d.ts
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.tsx
  src/components/zen-sidebar-nav/zen-sidebar-nav.stories.mdx
Due: yarn lint, yarn format

feat: add new component `zen-sidebar-nav-subitem`
  src/components.d.ts
  src/components/zen-sidebar-nav-subitem/zen-sidebar-nav-subitem.scss
  src/components/zen-sidebar-nav-subitem/zen-sidebar-nav-subitem.stories.mdx
  src/components/zen-sidebar-nav-subitem/zen-sidebar-nav-subitem.tsx
Due: yarn lint, yarn format

chore: add styles
  src/components/scss/vars/colors.scss
  src/components/zen-sidebar-nav-subitem/zen-sidebar-nav-subitem.scss
Due: yarn format

chore(zen-sidebar-nav-subitem): add selected prop
  src/components.d.ts
  src/components/zen-sidebar-nav-subitem/zen-sidebar-nav-subitem.tsx
Due: yarn lint, yarn format

chore(zen-sidebar-nav-item): add slot subitems
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.scss
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.tsx
  src/components/zen-sidebar-nav/zen-sidebar-nav.stories.mdx
Due: yarn lint, yarn format

docs: add more subitems to zen-sidebar-nav story
  src/components/zen-sidebar-nav/zen-sidebar-nav.stories.mdx
  src/components/zen-sidebar/zen-sidebar.scss
  src/components/zen-sidebar/zen-sidebar.tsx
Due: yarn lint, yarn format

chore(zen-sidebar-nav-item): add subitems arrow/chevron
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.scss
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.tsx
Due: yarn lint, yarn format

chore: expand/collapse subitems on item select
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.scss
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.tsx
Due: yarn lint, yarn format

chore(zen-sidebar-nav-item): draw arrow/chevron only if item has subitems
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.scss
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.tsx
Due: yarn lint, yarn format

chore(zen-sidebar-nav-item): deselect other subitems when subitem selected
  src/components/helpers/helpers.ts
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.tsx
Due: yarn lint, yarn format

feat(zen-sidebar-nav): collapse item when collapsing navigation
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.scss
  src/components/zen-sidebar-nav/zen-sidebar-nav.tsx
Due: yarn lint, yarn format

feat(zen-sidebar): add event `toggle`
  src/components.d.ts
  src/components/zen-sidebar/zen-sidebar.tsx
Due: yarn lint, yarn format

chore(zen-sidebar-nav-item): expand subitems on hover
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.scss
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.tsx
Due: yarn lint, yarn format

chore(zen-sidebar-nav-item): deselect subitems on item deselect
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.tsx
Due: yarn lint, yarn format

chore(zen-sidebar-nav-item): on item select, auto select first subitem
  src/components.d.ts
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.tsx
  src/components/zen-sidebar-nav-subitem/zen-sidebar-nav-subitem.tsx
Due: yarn lint, yarn format

chore: prevent sending toggle event on each mouse move
  src/components/zen-sidebar/zen-sidebar.tsx
Due: yarn lint, yarn format

chore: fix select first subitem only if none selected so far
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.tsx
Due: yarn lint, yarn format

chore: fix hover opening
  src/components/zen-sidebar/zen-sidebar.tsx
Due: yarn lint, yarn format

fix(zen-sidebar): removed expanded on hover functionality
  src/components.d.ts
  src/components/zen-sidebar-nav/zen-sidebar-nav.tsx
  src/components/zen-sidebar/zen-sidebar.tsx
Due: yarn lint, yarn format

chore: add small delay to hover open
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.scss
Due: yarn format

chore(zen-sidebar-nav): improved story code readability
  src/components/zen-sidebar-nav/zen-sidebar-nav.stories.mdx
Due: yarn format

fix(zen-sidebar-nav-item): removed hover styles and updated event name
  src/components.d.ts
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.scss
Due: yarn lint, yarn format

fix(zen-sidebar-nav): corrected props and removed footer by putting a named slot instead
  src/components/zen-sidebar-nav/zen-sidebar-nav.scss
  src/components/zen-sidebar-nav/zen-sidebar-nav.tsx
Due: yarn lint, yarn format

fix(zen-sidebar-nav): updated event to use the zen prefix
  src/components/zen-sidebar-nav/zen-sidebar-nav.tsx
Due: yarn lint, yarn format

fix(zen-sidebar-nav-item): check subitems using a mutation observer
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.tsx
Due: yarn lint, yarn format

chore(release): 5.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8794d6f23dbc936e5fbe2fbfb103943623953db4
Due: none

fix(*): add `zen` prefix to all the `change` events
  src/components.d.ts
  src/components/zen-checkbox/zen-checkbox.tsx
  src/components/zen-date-picker/zen-date-picker.tsx
  src/components/zen-dropdown/zen-dropdown.tsx
  src/components/zen-input/zen-input.tsx
  src/components/zen-progress-tracker/zen-progress-tracker.tsx
  src/components/zen-radio/test/zen-radio.spec.tsx
  src/components/zen-radio/zen-radio.tsx
  src/components/zen-sortable/test/zen-sortable.spec.tsx
  src/components/zen-sortable/zen-sortable.tsx
  src/components/zen-tabs/zen-tabs.tsx
  src/components/zen-textarea/zen-textarea.tsx
  src/components/zen-toggle/test/zen-toggle.spec.tsx
  src/components/zen-toggle/zen-toggle.tsx
Due: yarn lint, yarn format

test(zen-drawer): add additional unit test to improve coverage
  src/components/zen-drawer/test/zen-drawer.spec.tsx
Due: yarn lint, yarn format

fix(*): add `zen` prefix to all the events
  src/components.d.ts
  src/components/zen-date-picker/zen-date-picker.tsx
  src/components/zen-drawer/zen-drawer.tsx
  src/components/zen-dropdown/zen-dropdown.tsx
  src/components/zen-input/zen-input.tsx
  src/components/zen-panel/test/zen-panel.spec.tsx
  src/components/zen-panel/zen-panel.stories.mdx
  src/components/zen-panel/zen-panel.tsx
  src/components/zen-popover/zen-popover.tsx
  src/components/zen-tab/zen-tab.tsx
  src/components/zen-tabs/zen-tabs.tsx
  src/components/zen-textarea/zen-textarea.tsx
Due: yarn lint, yarn format

fix(zen-modal): prefix events with 'zen'
  src/components.d.ts
  src/components/zen-modal/zen-modal.stories.mdx
  src/components/zen-modal/zen-modal.tsx
Due: yarn lint, yarn format

fix(zen-tabs): update the selected value
  src/components/zen-tabs/zen-tabs.tsx
Due: yarn lint, yarn format

chore(zen-popover): add logEvents on the story
  src/components/zen-popover/zen-popover.stories.mdx
Due: yarn format

fix(zen-textarea): add missing events for blur and focus
  src/components/zen-textarea/zen-textarea.tsx
Due: yarn lint, yarn format

fix(zen-tabs): prevent change event from being triggered on load
  src/components/zen-tabs/zen-tabs.tsx
Due: yarn lint, yarn format

fix(zen-table-cell): use the right event name for the checkbox
  src/components/zen-table-cell/zen-table-cell.tsx
Due: yarn lint, yarn format

docs(zen-table-row): add todo comment
  src/components.d.ts
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

chore(zen-dropdown): fix events on the story
  src/components/zen-dropdown/zen-dropdown.stories.mdx
Due: yarn format

Path conditions:
  yarn lint: any of: src/**/*.{js,ts,tsx}
  yarn format: (any of: src/**/*.{js,ts,tsx}) or (any of: src/**/*.{scss,md,mdx})
