Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

.lintstagedrc:

{
  "src/**/*.{js,ts,tsx}": ["yarn lint", "yarn format"],
  "src/**/*.{scss,md,mdx}": ["yarn format"]
}

Notes added by 'git notes add'
  f32eb02882cdd84ca559d0354bd58d63472b0b81
Due: none

chore: dont await async methods
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

feat(zen-tab): add zen-tab fragment
  src/components.d.ts
  src/components/zen-tab/test/zen-tab.spec.tsx
  src/components/zen-tab/zen-tab.scss
  src/components/zen-tab/zen-tab.stories.mdx
  src/components/zen-tab/zen-tab.tsx
Due: yarn lint, yarn format

test(zen-tab): add unit tests
  src/components/zen-tab/test/zen-tab.spec.tsx
Due: yarn lint, yarn format

feat(zen-tabs): update zen tab implementation
  src/components/zen-tabs/zen-tabs.scss
  src/components/zen-tabs/zen-tabs.tsx
Due: yarn lint, yarn format

feat(zen-tabs): convert story to mdx
  src/components/zen-tabs/zen-tabs.stories.mdx
  src/components/zen-tabs/zen-tabs.stories.ts
Due: yarn lint, yarn format

test(zen-tabs): add zen tabs unit tests
  src/components/zen-tabs/test/zen-tabs.spec.tsx
Due: yarn lint, yarn format

test(zen-tabs): rename and update vrt snapshot
  cypress/integration/visual/tabs.e2e.js
Due: none

chore(zen-tabs): code cleanup and refactoring
  src/components.d.ts
  src/components/zen-tab/zen-tab.tsx
  src/components/zen-tabs/test/zen-tabs.spec.tsx
  src/components/zen-tabs/zen-tabs.stories.mdx
  src/components/zen-tabs/zen-tabs.tsx
Due: yarn lint, yarn format

test(zen-tabs): fix vrt test
  cypress/integration/visual/tabs.e2e.js
  cypress/snapshots/visual/tabs.e2e.js/Tabs visual tests -- Verifies story--in-progress-tabs-tabs--default-story.snap.png
Due: none

feat(zen-avatar): add override for initials
  cypress/integration/visual/avatarGroup.e2e.js
  src/components.d.ts
  src/components/helpers/types.ts
  src/components/zen-avatar-details/zen-avatar-details.tsx
  src/components/zen-avatar-group/zen-avatar-group.stories.mdx
  src/components/zen-avatar-icon/zen-avatar-icon.tsx
  src/components/zen-avatar/zen-avatar.tsx
Due: yarn lint, yarn format

docs: fix row story
  src/components/zen-table-row/zen-table-row.stories.mdx
Due: yarn format

docs: prefix sb-docs-table element
  src/components/zen-sortable-item/zen-sortable-item.stories.mdx
  src/components/zen-table-row/zen-table-row.stories.mdx
Due: yarn format

fix(zen-tab): promote selected to property
  src/components.d.ts
  src/components/zen-tab/zen-tab.scss
  src/components/zen-tab/zen-tab.stories.mdx
  src/components/zen-tab/zen-tab.tsx
  src/components/zen-tabs/zen-tabs.tsx
Due: yarn lint, yarn format

test(zen-tabs): fix the tests after variable promoted
  src/components/zen-tab/test/zen-tab.spec.tsx
  src/components/zen-tabs/test/zen-tabs.spec.tsx
Due: yarn lint, yarn format

test(zen-tab): remove not needed test
  src/components/zen-tab/test/zen-tab.spec.tsx
Due: yarn lint, yarn format

fix(zen-tab): add default font size and styling
  src/components/zen-tab/zen-tab.scss
  src/components/zen-tabs/zen-tabs.scss
Due: yarn format

docs: add some tree rows to default story
  src/components/zen-table/zen-table.stories.mdx
Due: yarn format

refactor: move function `htmlToElement` to helpers
  src/components/helpers/helpers.ts
  src/components/helpers/jest.ts
  src/components/zen-animate/test/zen-animate.spec.tsx
  src/components/zen-dropdown/test/zen-dropdown.spec.tsx
Due: yarn lint, yarn format

docs: add table editor to story
  src/components/zen-table/zen-table.stories.mdx
Due: yarn format

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a3dd599d13648bfa21128ace5ac34633a7a76986
Due: none

fix(zen-tabs): fix that event is logged in the console
  src/components/zen-tabs/zen-tabs.stories.mdx
Due: yarn format

feat(zen-tabs): move tabs to story navigation folder
  cypress/integration/visual/tabs.e2e.js
  cypress/snapshots/visual/tabs.e2e.js/Tabs visual tests -- Verifies story--navigation-tabs-tabs--default-story.snap.png
  src/components/zen-tab/zen-tab.stories.mdx
  src/components/zen-tabs/zen-tabs.stories.mdx
Due: yarn format

docs(zen-avatar): correct a variable description
  src/components/zen-avatar-details/zen-avatar-details.tsx
Due: yarn lint, yarn format

chore(release): 3.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  77b30f1bd29077ed5d6a0a46ee224e2d81539dcc
Due: none

chore: add child mutation observer to table
  src/components/zen-table/zen-table.tsx
Due: yarn lint, yarn format

docs: add `remove row` button to table editor
  src/components/zen-table/zen-table.stories.mdx
Due: yarn format

chore: table editor improvements
  src/components/zen-table/zen-table.stories.mdx
Due: yarn format

fix(zen-table): expandable and visible props are always correctly calculated
  src/components/zen-table-row/zen-table-row.tsx
  src/components/zen-table/zen-table.tsx
Due: yarn lint, yarn format

test: fix unit tests
  src/components/helpers/jest.ts
  src/components/zen-table-row/test/zen-table-row.spec.tsx
  src/components/zen-table/test/zen-table.spec.tsx
Due: yarn lint, yarn format

test: improve zen-table test coverage
  src/components/zen-table-row/test/zen-table-row.spec.tsx
  src/components/zen-table/test/zen-table.spec.tsx
Due: yarn lint, yarn format

refactor: move table-structure-cleanup to a separate module
  src/components/zen-table/zen-table-helpers.tsx
  src/components/zen-table/zen-table.tsx
Due: yarn lint, yarn format

fix(zen-table): selected and indeterminate props are always correctly calculated
  src/components.d.ts
  src/components/zen-table-row/zen-table-row.tsx
  src/components/zen-table/zen-table.tsx
Due: yarn lint, yarn format

fix: non-selectable and non-expandable child row should still have left padding
  src/components/zen-table-cell/zen-table-cell.scss
  src/components/zen-table/zen-table.stories.mdx
Due: yarn format

test: update table visual snapshot
  cypress/integration/visual/table.e2e.js
  cypress/snapshots/visual/table.e2e.js/Table visual tests -- Verifies story--lists-table-table--default-story.snap.png
  cypress/snapshots/visual/table.e2e.js/Table visual tests -- Verifies story--tables-table--default-story.snap.png
  cypress/snapshots/visual/table.e2e.js/Table visual tests -- Verifies story--tables-table--no-header.snap.png
  cypress/snapshots/visual/table.e2e.js/Table visual tests -- Verifies story--tables-table--selectable.snap.png
  cypress/snapshots/visual/table.e2e.js/Table visual tests -- Verifies story--tables-table--sticky-header.snap.png
  cypress/snapshots/visual/table.e2e.js/Table visual tests -- Verifies story--tables-table--with-fragments.snap.png
Due: none

chore(release): 3.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1a9b609bbd87f64d2b3a1cf4a825acbd0752fcbf
Due: none

test(zen-tooltip): update tooltip snapshot
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--scrollable.snap.png
Due: none
