Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

chore(release): 3.2.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  08ff33a5c552ca1afed4eb307e1dd553b402c510
Due: none

fix(zen-progress-tracker): labels now have white-space nowrap style
  src/components/zen-progress-tracker/zen-progress-tracker.scss
Due: yarn format

chore(release): 3.2.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  21a044139b96cf5b0f400065410e541f0b2d23cf
Due: none

chore: optimize cleanupTableStructure function
  src/components/zen-table/zen-table-helpers.tsx
Due: yarn lint, yarn format

chore: storybook fix to correctly spread default attributes
  .storybook/helpers/argTypes.js
  src/stories/components/docs-table/docs-table.tsx
Due: yarn lint, yarn format

refactor: optimize propsToAttributes
  .storybook/helpers/argTypes.js
Due: none

docs: add private props guidelines
  docs/components-guidelines.md
Due: none

docs: style read-only props
  .storybook/helpers/argTypes.js
  .storybook/preview.scss
Due: none

test: fix avatarGroup vrt
  cypress/integration/visual/avatarGroup.e2e.js
Due: none

chore: align `read-only` mark with label
  .storybook/preview.scss
Due: none

chore(react): require lib with range
  react/publish.ts
Due: none

chore(react): re-enable publishing
  react/publish.ts
Due: none

chore(react): read registries from the .releaserc
  react/publish.ts
Due: none

feat(zen-card): add additional shadow variant
  src/components.d.ts
  src/components/helpers/types.ts
  src/components/zen-card/zen-card.scss
  src/components/zen-card/zen-card.stories.mdx
  src/components/zen-card/zen-card.tsx
Due: yarn lint, yarn format

test(zen-card): update snapshots
  cypress/integration/visual/card.e2e.js
  cypress/snapshots/visual/card.e2e.js/Card visual tests -- Verifies story--containers-card--default-story.snap.png
  cypress/snapshots/visual/card.e2e.js/Card visual tests -- Verifies story--containers-card--disabled.snap.png
  cypress/snapshots/visual/card.e2e.js/Card visual tests -- Verifies story--containers-card--variant.snap.png
Due: none

refactor(zen-card): add shadow variable
  src/components/zen-card/zen-card.scss
  src/zen-styles/shadows.scss
Due: yarn format

fix(zen-avatar): fix avatar image not displayed
  src/components.d.ts
  src/components/zen-avatar-details/zen-avatar-details.tsx
  src/components/zen-avatar-group/zen-avatar-group.stories.mdx
  src/components/zen-avatar/zen-avatar.tsx
Due: yarn lint, yarn format

test(zen-avatar): update snapshots
  cypress/snapshots/visual/avatarGroup.e2e.js/Avatar group popover - single user.snap.png
  src/components/zen-avatar-group/zen-avatar-group.stories.mdx
Due: yarn format

refactor(zen-card): move story content to a variable
  src/components/zen-card/zen-card.stories.mdx
Due: yarn format

chore(release): 3.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  49772bb50795c25051bb8ed9b9121c31db0e499e
Due: none

chore: only first row should get padding from nesting/depth
  src/components/zen-table-cell/zen-table-cell.scss
Due: yarn format

chore: explicitely define props as boolean
  src/components.d.ts
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

test: change toBeTruthy to toBe(true)
  src/components/zen-table-row/test/zen-table-row.spec.tsx
Due: yarn lint, yarn format

fix: first row should have top blue border when selected
  src/components.d.ts
  src/components/zen-table-cell/zen-table-cell.scss
  src/components/zen-table-cell/zen-table-cell.tsx
  src/components/zen-table-row/zen-table-row.stories.mdx
  src/components/zen-table-row/zen-table-row.tsx
  src/components/zen-table/zen-table-helpers.tsx
Due: yarn lint, yarn format

chore: fix cell story params
  src/components/zen-table-cell/zen-table-cell.stories.mdx
Due: yarn format

docs: add zen-cell story
  src/components/zen-table-cell/zen-table-cell.stories.mdx
Due: yarn format

refactor: prefix props `visible` and `expandable` with `$`
  src/components/zen-table-row/test/zen-table-row.spec.tsx
  src/components/zen-table-row/zen-table-row.tsx
  src/components/zen-table/zen-table-helpers.tsx
Due: yarn lint, yarn format

docs(zen-table, row, cell): improve props descriptions
  src/components.d.ts
  src/components/zen-table-cell/zen-table-cell.tsx
  src/components/zen-table-row/zen-table-row.stories.mdx
  src/components/zen-table-row/zen-table-row.tsx
  src/components/zen-table/zen-table.stories.mdx
  src/components/zen-table/zen-table.tsx
Due: yarn lint, yarn format

chore(release): 3.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ccbb9660fc8d4c0855407dd717f27fd6ec47bd78
Due: none

chore(release): 3.3.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  yarn lint: any of: src/**/*.{js,ts,tsx}
  yarn format: (any of: src/**/*.{js,ts,tsx}) or (any of: src/**/*.{scss,md,mdx})
