Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

.lintstagedrc:

{
  "src/**/*.{js,ts,tsx}": ["yarn lint", "yarn format"],
  "src/**/*.{scss,md,mdx}": ["yarn format"]
}

test: update lozenge vrt snapshot
  cypress/snapshots/visual/lozenge.e2e.js/Lozenge visual tests -- Verifies story--graphics-lozenge--story-variants.snap.png
Due: none

chore(release): 6.9.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  84fa58615f0af31bcd74506f6e3fb85e710458c8
Due: none

chore: remove animation on tabs change
  src/components/zen-tab/zen-tab.scss
Due: yarn format

fix: calc padding and active tab in willLoad to prevent flickering
  src/components/zen-space/zen-space.tsx
  src/components/zen-tabs/zen-tabs.tsx
Due: yarn lint, yarn format

fix: prevent initial flickering of components
  src/components/zen-date-picker/zen-date-picker.tsx
  src/components/zen-icon/zen-icon.tsx
  src/components/zen-input/zen-input.tsx
  src/components/zen-popover/zen-popover.tsx
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.tsx
  src/components/zen-skeleton/zen-skeleton.tsx
  src/components/zen-sortable/zen-sortable.tsx
  src/components/zen-status-tracker/zen-status-tracker.tsx
  src/components/zen-table-row/zen-table-row.tsx
  src/components/zen-table/zen-table.tsx
Due: yarn lint, yarn format

fix(zen-tab): remove badge property
  src/components/zen-tab/zen-tab.tsx
Due: yarn lint, yarn format

test(zen-tab): remove test for removed badge
  src/components/zen-tab/test/zen-tab.spec.tsx
Due: yarn lint, yarn format

chore(zen-tab): remove styles of removed badge
  src/components/zen-tab/zen-tab.scss
Due: yarn format

chore: update autogenerated components.d.ts
  src/components.d.ts
Due: yarn lint, yarn format

chore(release): 6.9.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7d652571f33d93891051aed4f2a9fe74e9e9b6fa
Due: none

chore(release): 6.9.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  03d6687f60f7140401c8f2b65667c1d07edbe0f9
Due: none

docs: manually add the breaking changes to the CHANGELOG
  CHANGELOG.md
Due: none

fix(zen-popover, zen-tooltip, zen-dropdown,...): can span outside overflow: hidden parent
  src/components/zen-popover/zen-popover.scss
  src/components/zen-popover/zen-popover.tsx
Due: yarn lint, yarn format

docs: remove flipping popover story
  cypress/integration/functional/popover.e2e.js
  cypress/integration/visual/popover.e2e.js
  src/components/zen-popover/zen-popover.stories.mdx
Due: yarn format

fix(zen-popover): add basic padding 32 px
  src/components/zen-popover/zen-popover.tsx
Due: yarn lint, yarn format

chore: don't use zen-text for content and header!
  src/components/zen-tooltip/zen-tooltip.scss
  src/components/zen-tooltip/zen-tooltip.stories.mdx
  src/components/zen-tooltip/zen-tooltip.tsx
Due: yarn lint, yarn format

chore(zen-tooltip): system variant should render 12px fonts
  src/components/zen-tooltip/zen-tooltip.scss
Due: yarn format

docs: tooltip's stories shouldn't use button.label because it's depricated
  src/components/zen-tooltip/zen-tooltip.stories.mdx
Due: yarn format

test: fix popover visual tests
  cypress/integration/visual/popover.e2e.js
Due: none

chore(zen-dropdown): fix dropdown menu width
  src/components.d.ts
  src/components/zen-dropdown/zen-dropdown.tsx
  src/components/zen-popover/zen-popover.tsx
Due: yarn lint, yarn format

chore: remove visible state
  src/components/zen-tooltip/zen-tooltip.tsx
Due: yarn lint, yarn format

chore: set position fixed to popover instead to content
  src/components/zen-popover/zen-popover.scss
  src/components/zen-tooltip/zen-tooltip.scss
Due: yarn format

test: update popover vr test screenshot
  cypress/snapshots/visual/popover.e2e.js/Popover visual tests -- Functional test Trigger events story--containers-popover--story-trigger-events.snap.png
Due: none

test: skip popover related vr tests
  cypress/integration/visual/avatar.e2e.js
  cypress/integration/visual/avatarGroup.e2e.js
  cypress/integration/visual/date-picker.e2e.js
  cypress/integration/visual/dropdown.e2e.js
  cypress/integration/visual/tooltip.e2e.js
Due: none

chore(zen-popover): fix z-indexes
  src/components/zen-popover/zen-popover.scss
Due: yarn format

chore(release): 6.9.6 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  9ca3f7bca17f637a6bce60140af55330c783dcb7
Due: none

chore(zen-popover): determine target after load and find popup using ref
  src/components/zen-popover/zen-popover.tsx
Due: yarn lint, yarn format

fix(zen-popover): popover (and dropdown, datepicker,...) is no longer offsetted
  src/components/zen-drawer/zen-drawer.scss
  src/components/zen-panel/zen-panel.scss
  src/components/zen-popover/animations.scss
  src/components/zen-radio/zen-radio.scss
  src/components/zen-toggle/zen-toggle.scss
Due: yarn format

docs: add story to quickly test tooltips inside drawer
  src/components/zen-drawer/zen-drawer.stories.mdx
Due: yarn format

fix(zen-popover): warn if any popover parent is invalid
  src/components/helpers/helpers.ts
  src/components/zen-popover/zen-popover.tsx
Due: yarn lint, yarn format

chore: update yarn lock
  yarn.lock
Due: none

test: update drawer vr tests
  cypress/snapshots/visual/drawer.e2e.js/Drawer visual tests -- Verifies that drawer opens story--containers-drawer--default-story.snap.png
  cypress/snapshots/visual/drawer.e2e.js/Drawer visual tests -- Verifies that we can set position and drawer opens story--containers-drawer--default-story.snap.png
  src/components/zen-drawer/zen-drawer.stories.mdx
Due: yarn format

chore: fix dropdown width
  src/components/zen-dropdown/zen-dropdown.scss
Due: yarn format

refactor: rename function getElementParents
  src/components/helpers/helpers.ts
  src/components/zen-popover/zen-popover.tsx
Due: yarn lint, yarn format

refactor: rename function getParentsWithTransforms
  src/components/zen-popover/zen-popover.tsx
Due: yarn lint, yarn format

chore: improve warning message
  src/components/zen-popover/zen-popover.tsx
Due: yarn lint, yarn format
