Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

.lintstagedrc:

{
  "src/**/*.{js,ts,tsx}": ["yarn lint", "yarn format"],
  "src/**/*.{scss,md,mdx}": ["yarn format"]
}

chore(release): 2.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  bd3e7ada95ded3fc184ad0b4356626306dc412c7
Due: none

docs: fix story missclosed tag
  src/components/zen-table/zen-table.stories.mdx
Due: yarn format

chore: move widget styles from row to cell
  src/components/zen-table-cell/zen-table-cell.scss
  src/components/zen-table-row/zen-table-row.scss
Due: yarn format

chore: move widgets to cell
  src/components/zen-table-cell/zen-table-cell.tsx
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

chore(zen-table-cell): handle click events
  src/components/zen-table-cell/zen-table-cell.tsx
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

chore: add prop `sticky`
  src/components/zen-table-cell/zen-table-cell.scss
  src/components/zen-table-cell/zen-table-cell.tsx
  src/components/zen-table-row/zen-table-row.tsx
  src/components/zen-table/zen-table.stories.mdx
Due: yarn lint, yarn format

docs: remove unneeded class from story
  src/components/zen-table/zen-table.stories.mdx
Due: yarn format

docs: comment-out header for now
  src/components/zen-table/zen-table.stories.mdx
Due: yarn format

docs: add full-span cell example
  src/components/zen-table/zen-table.stories.mdx
Due: yarn format

chore(header): add styling
  src/components/zen-table-cell/zen-table-cell.scss
Due: yarn format

chore: reflect `indeterminated` to cells
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

chore: fix css styles
  src/components/zen-table-cell/zen-table-cell.scss
  src/components/zen-table-cell/zen-table-cell.tsx
  src/components/zen-table-row/zen-table-row.scss
  src/components/zen-table/zen-table.scss
  src/components/zen-table/zen-table.stories.mdx
Due: yarn lint, yarn format

chore: support full-span prop on cell
  src/components/zen-table-cell/zen-table-cell.scss
  src/components/zen-table-cell/zen-table-cell.tsx
  src/components/zen-table-row/zen-table-row.scss
  src/components/zen-table/zen-table.stories.mdx
Due: yarn lint, yarn format

feat: remove zen-table-header and zen-table-header-cell
  src/components/zen-table-cell/zen-table-cell.tsx
  src/components/zen-table-row/zen-table-row.tsx
  src/components/zen-table/zen-table.stories.mdx
Due: yarn lint, yarn format

refactor(zen-table-row): update header checkbox with observer
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

docs: remove irrelevant stories
  src/components/zen-table/zen-table.stories.mdx
Due: yarn format

chore: make header selected checkbox work
  src/components/zen-table-cell/zen-table-cell.scss
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

test: skip table row tests
  src/components/zen-table-row/test/zen-table-row.spec.tsx
Due: yarn lint, yarn format

chore(zen-table-cell): add props
  src/components/zen-table-cell/zen-table-cell.tsx
Due: yarn lint, yarn format

chore: reflect `depth` to cells
  src/components/zen-table-cell/zen-table-cell.tsx
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

chore: forward each prop set on row to each cell
  src/components/zen-table-cell/zen-table-cell.tsx
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

chore: display table to display grid
  src/components/zen-table-cell/zen-table-cell.scss
  src/components/zen-table-row/zen-table-row.scss
  src/components/zen-table/zen-table.scss
Due: yarn format

chore(zen-table-cell): add prop `columns`
  src/components/zen-table/zen-table.scss
  src/components/zen-table/zen-table.stories.mdx
  src/components/zen-table/zen-table.tsx
Due: yarn lint, yarn format

chore: inset css prop isn't supported on Safari
  src/components/zen-button/zen-button.tsx
  src/components/zen-table-cell/zen-table-cell.scss
Due: yarn lint, yarn format

chore: fix header border and bg
  src/components/zen-table-cell/zen-table-cell.scss
Due: yarn format

docs: fix each story
  src/components/zen-table-cell/zen-table-cell.scss
  src/components/zen-table/zen-table.stories.mdx
Due: yarn format

docs: put back removed stories
  src/components/zen-table/zen-table.stories.mdx
Due: yarn format

chore(zen-table-cell): remove zen-text wrap
  src/components/zen-table-cell/zen-table-cell.tsx
  src/components/zen-table/zen-table.stories.mdx
Due: yarn lint, yarn format

chore: remove table header components
  src/components/zen-table-header-cell/test/zen-table-header-cell.spec.tsx
  src/components/zen-table-header-cell/zen-table-header-cell.scss
  src/components/zen-table-header-cell/zen-table-header-cell.tsx
  src/components/zen-table-header/test/zen-table-header.spec.tsx
  src/components/zen-table-header/zen-table-header.scss
  src/components/zen-table-header/zen-table-header.stories.mdx
  src/components/zen-table-header/zen-table-header.tsx
Due: yarn lint, yarn format

chore: update auto-generated stuff
  src/components.d.ts
Due: yarn lint, yarn format

chore(zen-table-cell): add prop `background-color`
  src/components.d.ts
  src/components/zen-table-cell/zen-table-cell.tsx
  src/components/zen-table/zen-table.stories.mdx
Due: yarn lint, yarn format

test: fix row unit tests
  src/components/zen-table-row/test/zen-table-row.spec.tsx
  src/components/zen-table/test/zen-table.spec.tsx
Due: yarn lint, yarn format

test: update visual tests
  cypress/integration/visual/table.e2e.js
  cypress/integration/visual/tableHeader.e2e.js
  cypress/integration/visual/tableRow.e2e.js
  cypress/snapshots/visual/table.e2e.js/Table visual tests -- Verifies story--lists-table-table--default-story.snap.png
  cypress/snapshots/visual/table.e2e.js/Table visual tests -- Verifies story--lists-table-table--no-header.snap.png
  cypress/snapshots/visual/table.e2e.js/Table visual tests -- Verifies story--lists-table-table--sticky-header.snap.png
  cypress/snapshots/visual/table.e2e.js/Table visual tests -- Verifies story--lists-table-table--with-fragments.snap.png
  cypress/snapshots/visual/tableRow.e2e.js/Table row visual tests -- Verifies story--lists-table-row--default-story.snap.png
  src/components/zen-table-row/zen-table-row.stories.mdx
Due: yarn format

chore: updated types
  src/components.d.ts
  src/components/helpers/types.ts
  src/components/zen-avatar-group/zen-avatar-group.tsx
  src/components/zen-avatar-icon/zen-avatar-icon.tsx
  src/components/zen-icon/zen-icon.tsx
Due: yarn lint, yarn format

test: skip failing tests
  src/components/zen-table-row/test/zen-table-row.spec.tsx
Due: yarn lint, yarn format

style: remove linting rule
  src/.eslintrc.js
Due: yarn lint, yarn format

test: semi-fix unit tests
  src/components/zen-table-row/test/zen-table-row.spec.tsx
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

fix(zen-drawer): when component is not opened on first load display is set to none
  src/components/zen-drawer/zen-drawer.tsx
Due: yarn lint, yarn format

chore(release): 2.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none
