Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

chore: fix tooltip width limit
  src/components/zen-avatar/zen-avatar.tsx
  src/components/zen-tooltip/zen-tooltip.scss
Due: yarn lint, yarn format

chore: update avatar group e2e test
  cypress/snapshots/visual/avatarGroup.e2e.js/Avatar group popover - single user.snap.png
Due: none

chore(release): 5.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  72783a51cacf6d0d874a517de9e3b8d3283c383b
Due: none

feat: add zen-sidebar component
  src/components.d.ts
  src/components/scss/vars/colors.scss
  src/components/zen-sidebar/zen-sidebar.scss
  src/components/zen-sidebar/zen-sidebar.stories.mdx
  src/components/zen-sidebar/zen-sidebar.tsx
Due: yarn lint, yarn format

feat(zen-sidebar): add padding prop
  src/components.d.ts
  src/components/zen-sidebar/zen-sidebar.tsx
Due: yarn lint, yarn format

docs: improve layout of storybook
  src/components/zen-sidebar/zen-sidebar.stories.mdx
Due: yarn format

chore: make sidebar relative
  src/components/zen-sidebar/zen-sidebar.scss
  src/components/zen-sidebar/zen-sidebar.stories.mdx
Due: yarn format

chore: wrap sidebar with additional wrapper
  src/components/zen-sidebar/zen-sidebar.scss
  src/components/zen-sidebar/zen-sidebar.tsx
Due: yarn lint, yarn format

chore: expand sidebar on mouse hover
  src/components.d.ts
  src/components/zen-sidebar/zen-sidebar.tsx
Due: yarn lint, yarn format

chore: support expanded behaviour
  src/components/zen-sidebar/zen-sidebar.scss
  src/components/zen-sidebar/zen-sidebar.tsx
Due: yarn lint, yarn format

chore: fix horizontal sidebar
  src/components/zen-sidebar/zen-sidebar.stories.mdx
  src/components/zen-sidebar/zen-sidebar.tsx
Due: yarn lint, yarn format

chore: fix bottom and right sidebar
  src/components/zen-sidebar/zen-sidebar.scss
  src/components/zen-sidebar/zen-sidebar.stories.mdx
  src/components/zen-sidebar/zen-sidebar.tsx
Due: yarn lint, yarn format

chore: set z-index only when necessary
  src/components/zen-sidebar/zen-sidebar.scss
  src/components/zen-sidebar/zen-sidebar.stories.mdx
Due: yarn format

chore: initialize sidebar position correctly
  src/components/zen-sidebar/zen-sidebar.scss
  src/components/zen-sidebar/zen-sidebar.tsx
Due: yarn lint, yarn format

feat: add zen-sidebar-nav component
  src/components.d.ts
  src/components/zen-sidebar-nav/zen-sidebar-nav.scss
  src/components/zen-sidebar-nav/zen-sidebar-nav.stories.mdx
  src/components/zen-sidebar-nav/zen-sidebar-nav.tsx
Due: yarn lint, yarn format

docs: add more natural environment to story
  .storybook/helpers/utils.js
  src/components/zen-sidebar-nav/zen-sidebar-nav.stories.mdx
Due: yarn format

chore: use zen-sidebar comp inside zen-sidebar-nav comp
  src/components.d.ts
  src/components/zen-sidebar-nav/zen-sidebar-nav.scss
  src/components/zen-sidebar-nav/zen-sidebar-nav.tsx
Due: yarn lint, yarn format

fix: export helper types
  package.json
  src/interface.d.ts
Due: yarn lint, yarn format

fix: add missing type annotations
  src/components.d.ts
  src/components/zen-card/zen-card.tsx
  src/components/zen-checkbox/zen-checkbox.tsx
  src/components/zen-date-picker/zen-date-picker.tsx
  src/components/zen-drawer/zen-drawer.tsx
  src/components/zen-dropdown/zen-dropdown.tsx
  src/components/zen-input/zen-input.tsx
  src/components/zen-modal/zen-modal.tsx
  src/components/zen-radio/zen-radio.tsx
  src/components/zen-text/zen-text.tsx
  src/components/zen-textarea/zen-textarea.tsx
  src/components/zen-toggle/zen-toggle.tsx
  src/stories/components/html-playground/html-playground.tsx
Due: yarn lint, yarn format

chore(zen-sidebar): add slot wrapChildren
  src/components/zen-sidebar/zen-sidebar.scss
  src/components/zen-sidebar/zen-sidebar.tsx
Due: yarn lint, yarn format

chore(zen-sidebar): make background-color controllable
  src/components/zen-sidebar-nav/zen-sidebar-nav.scss
  src/components/zen-sidebar/zen-sidebar.scss
Due: yarn format

chore: add expand/collapse button
  src/components.d.ts
  src/components/zen-sidebar-nav/zen-sidebar-nav.scss
  src/components/zen-sidebar-nav/zen-sidebar-nav.stories.mdx
  src/components/zen-sidebar-nav/zen-sidebar-nav.tsx
  src/components/zen-sidebar/zen-sidebar.tsx
Due: yarn lint, yarn format

chore: don't hover-expand if hovering on close icon
  src/components.d.ts
  src/components/zen-sidebar-nav/zen-sidebar-nav.tsx
  src/components/zen-sidebar/zen-sidebar.tsx
Due: yarn lint, yarn format

chore: add footer
  src/components/scss/vars/colors.scss
  src/components/zen-sidebar-nav/zen-sidebar-nav.scss
  src/components/zen-sidebar-nav/zen-sidebar-nav.tsx
  src/components/zen-sidebar/zen-sidebar.scss
  src/components/zen-sidebar/zen-sidebar.tsx
Due: yarn lint, yarn format

docs: add placeholder for programs dropdown
  src/components/zen-sidebar-nav/zen-sidebar-nav.stories.mdx
Due: yarn format

docs: add zen-sidebar-nav story description
  src/components/zen-sidebar-nav/zen-sidebar-nav.stories.mdx
Due: yarn format

chore(zen-sidebar-nav-item): add selected prop
  src/components.d.ts
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.scss
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.tsx
Due: yarn lint, yarn format

chore: add basic styles
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.scss
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.stories.mdx
Due: yarn format

feat: add new component `zen-sidebar-nav-item`
  src/components.d.ts
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.scss
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.stories.mdx
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.tsx
Due: yarn lint, yarn format

chore: add default slot and improve story
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.stories.mdx
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.tsx
Due: yarn lint, yarn format

docs: use zen-sidebar-nav-item inside zen-sidebar-nav story
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.scss
  src/components/zen-sidebar-nav/zen-sidebar-nav.stories.mdx
Due: yarn format

chore(zen-sidebar-nav): deselect other items when item selected
  src/components.d.ts
  src/components/zen-sidebar-nav-item/zen-sidebar-nav-item.tsx
  src/components/zen-sidebar-nav/zen-sidebar-nav.stories.mdx
  src/components/zen-sidebar-nav/zen-sidebar-nav.tsx
Due: yarn lint, yarn format

fix(zen-status-tracker): add lozenge ids and observable
  src/components.d.ts
  src/components/zen-status-tracker/zen-status-tracker.stories.mdx
  src/components/zen-status-tracker/zen-status-tracker.tsx
Due: yarn lint, yarn format

fix(zen-status-tracker): add unit test cases
  src/components/zen-status-tracker/test/zen-status-tracker.spec.tsx
  src/components/zen-status-tracker/zen-status-tracker.stories.mdx
  src/components/zen-status-tracker/zen-status-tracker.tsx
Due: yarn lint, yarn format

chore(release): 5.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e246aefb9adf7db4182ae2fc7cabaf2b672d43c2
Due: none

fix(zen-status-tracker): fix observable child rerender
  src/components/zen-status-tracker/zen-status-tracker.tsx
Due: yarn lint, yarn format

fix(zen-status-tracker): refactor code and cleanup, add on zen change event
  src/components.d.ts
  src/components/zen-status-tracker/zen-status-tracker.stories.mdx
  src/components/zen-status-tracker/zen-status-tracker.tsx
Due: yarn lint, yarn format

chore(release): 5.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  yarn lint: any of: src/**/*.{js,ts,tsx}
  yarn format: (any of: src/**/*.{js,ts,tsx}) or (any of: src/**/*.{scss,md,mdx})
