Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

fix: fixes the table header z index issue
  src/components/zen-table-header/zen-table-header.scss
Due: yarn format

refactor: change how sticky is applied and that sticky is reflective
  src/components/zen-table-header/zen-table-header.tsx
Due: yarn lint, yarn format

fix: fixes the expandable width full span z index issue
  src/components.d.ts
  src/components/zen-table-row/zen-table-row.scss
Due: yarn lint, yarn format

build: add lint:all and format:all commands
  README.md
  package.json
Due: none

test: fix unit test
  src/components/zen-panel/test/zen-panel.spec.tsx
Due: yarn lint, yarn format

docs: update changelog
  src/stories/changelog.stories.mdx
Due: yarn format

chore: update components file
  src/components.d.ts
Due: yarn lint, yarn format

refactor: rename $paddings to $spacings
  src/components/helpers/helpers.scss
Due: yarn format

refactor: replace prop `padding` with `p` everywhere
  src/components/zen-avatar-details/zen-avatar-details.tsx
  src/components/zen-date-picker/zen-date-picker.tsx
  src/components/zen-drawer/zen-drawer.stories.mdx
  src/components/zen-dropdown/zen-dropdown.stories.mdx
  src/components/zen-input/zen-input.stories.mdx
  src/components/zen-notification/zen-notification.tsx
  src/components/zen-popover/zen-popover.stories.mdx
  src/components/zen-radio/zen-radio.stories.mdx
  src/components/zen-space/zen-space.stories.mdx
  src/components/zen-table-row/zen-table-row.stories.mdx
  src/components/zen-table/zen-table.stories.mdx
  src/components/zen-toggle/zen-toggle.stories.mdx
  src/components/zen-tooltip/zen-tooltip.stories.mdx
  src/components/zen-tooltip/zen-tooltip.tsx
  src/stories/components/docs-table/docs-table.tsx
Due: yarn lint, yarn format

feat: add new padding props to zen-icon
  src/components/zen-icon/zen-icon.scss
  src/components/zen-icon/zen-icon.stories.mdx
  src/components/zen-icon/zen-icon.tsx
  src/components/zen-space/zen-space.tsx
Due: yarn lint, yarn format

refactor: extract zen-space padding styles
  src/components/helpers/helpers.scss
  src/components/zen-space/zen-space.scss
Due: yarn format

refactor: rename prop `padding` to `p`
  src/components/helpers/helpers.ts
  src/components/helpers/tests/helpers.spec.tsx
  src/components/helpers/types.ts
  src/components/zen-space/zen-space.tsx
Due: yarn lint, yarn format

feat: add props px, py, pt, pl, pr, pb to zen-space
  src/components/helpers/helpers.scss
  src/components/zen-space/zen-space.tsx
Due: yarn lint, yarn format

refactor: shorten class names
  src/components/helpers/helpers.scss
  src/components/helpers/helpers.ts
Due: yarn lint, yarn format

docs: sort out paddings table
  .storybook/helpers/argTypes.js
  src/components/zen-space/zen-space.stories.mdx
  src/components/zen-space/zen-space.tsx
Due: yarn lint, yarn format

feat: add new padding props to zen-avatar-details
  src/components/zen-avatar-details/zen-avatar-details.tsx
  src/components/zen-avatar/zen-avatar.tsx
Due: yarn lint, yarn format

docs: explain side props better
  .storybook/helpers/argTypes.js
Due: none

refactor: rename PaddingShorthand to SpacingShorthand
  src/components/helpers/types.ts
  src/components/zen-avatar-details/zen-avatar-details.tsx
  src/components/zen-icon/zen-icon.tsx
  src/components/zen-space/zen-space.tsx
Due: yarn lint, yarn format

refactor: rename type Spacings to Spacing
  src/components/helpers/types.ts
  src/components/zen-avatar-details/zen-avatar-details.tsx
  src/components/zen-icon/zen-icon.tsx
  src/components/zen-space/zen-space.tsx
Due: yarn lint, yarn format

fix: prevent mutating instance inside loop
  .storybook/helpers/argTypes.js
Due: none

style: lint and format
  src/components/helpers/helpers.scss
  src/components/zen-space/zen-space.stories.mdx
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

docs: update story padding, to be the same as before
  src/components/zen-popover/zen-popover.stories.mdx
Due: yarn format

docs: update breaking changes in changelog
  src/stories/changelog.stories.mdx
Due: yarn format

refactor: replace zen-icon prop `padding` with `p`
  src/components/zen-date-picker/zen-date-picker.tsx
  src/components/zen-drawer/zen-drawer.tsx
  src/components/zen-dropdown/zen-dropdown.tsx
  src/components/zen-icon/zen-icon.stories.mdx
  src/components/zen-notification/zen-notification.tsx
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

test: update visual test screenshots
  cypress/snapshots/visual/drawer.e2e.js/Drawer visual tests -- Verifies that drawer opens story--layout-drawer--default-story.snap.png
  cypress/snapshots/visual/icon.e2e.js/Icon visual tests -- Verifies story--icons-icon--paddings.snap.png
Due: none

chore: commit autogenerated stuff
  src/components.d.ts
Due: yarn lint, yarn format

test: update vrt
  cypress/snapshots/visual/space.e2e.js/Button visual tests -- Verifies story--layout-space--children.snap.png
  cypress/snapshots/visual/space.e2e.js/Button visual tests -- Verifies story--layout-space--paddings.snap.png
Due: none

chore: update autogen files
  src/components.d.ts
Due: yarn lint, yarn format

fix: sortable `padding` prop to `p`
  src/components.d.ts
  src/components/zen-sortable-item/zen-sortable-item.stories.mdx
  src/components/zen-sortable-item/zen-sortable-item.tsx
  src/components/zen-sortable/zen-sortable.tsx
Due: yarn lint, yarn format

fix(zen-space): revert prop `p` back to `padding`
  .storybook/helpers/argTypes.js
  src/components.d.ts
  src/components/helpers/helpers.scss
  src/components/helpers/helpers.ts
  src/components/helpers/tests/helpers.spec.tsx
  src/components/zen-space/zen-space.tsx
Due: yarn lint, yarn format

fix: revert changelog
  src/stories/changelog.stories.mdx
Due: yarn format

fix(zen-space): revert `p` back to `padding` for each story
  src/components/zen-avatar-details/zen-avatar-details.tsx
  src/components/zen-date-picker/zen-date-picker.tsx
  src/components/zen-drawer/zen-drawer.stories.mdx
  src/components/zen-dropdown/zen-dropdown.stories.mdx
  src/components/zen-icon/zen-icon.stories.mdx
  src/components/zen-input/zen-input.stories.mdx
  src/components/zen-notification/zen-notification.tsx
  src/components/zen-popover/zen-popover.stories.mdx
  src/components/zen-radio/zen-radio.stories.mdx
  src/components/zen-sortable-item/zen-sortable-item.tsx
  src/components/zen-sortable/zen-sortable.tsx
  src/components/zen-space/zen-space.stories.mdx
  src/components/zen-table-row/zen-table-row.stories.mdx
  src/components/zen-table/zen-table.stories.mdx
  src/components/zen-toggle/zen-toggle.stories.mdx
  src/components/zen-tooltip/zen-tooltip.stories.mdx
  src/components/zen-tooltip/zen-tooltip.tsx
  src/stories/components/docs-table/docs-table.tsx
Due: yarn lint, yarn format

fix(zen-avatar-details): revert `p` back to `padding`
  src/components.d.ts
  src/components/zen-avatar-details/zen-avatar-details.tsx
  src/components/zen-avatar/zen-avatar.tsx
Due: yarn lint, yarn format

fix(zen-icon): revert `p` back to `padding`
  src/components.d.ts
  src/components/zen-date-picker/zen-date-picker.tsx
  src/components/zen-drawer/zen-drawer.tsx
  src/components/zen-dropdown/zen-dropdown.tsx
  src/components/zen-icon/zen-icon.tsx
  src/components/zen-notification/zen-notification.tsx
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

feat: remove props paddingX and paddingY
  .storybook/helpers/argTypes.js
  src/components.d.ts
  src/components/zen-avatar-details/zen-avatar-details.tsx
  src/components/zen-icon/zen-icon.tsx
  src/components/zen-space/zen-space.stories.mdx
  src/components/zen-space/zen-space.tsx
Due: yarn lint, yarn format

fix: fix flaky drawer visual test
  cypress/integration/visual/drawer.e2e.js
Due: none

chore: fix lint and format scripts
  package.json
Due: none

Revert "fix: fixes the expandable width full span z index issue"
  src/components.d.ts
  src/components/zen-table-row/zen-table-row.scss
Due: yarn lint, yarn format

feat(zen-space): add margin prop
  src/components.d.ts
  src/components/zen-space/zen-space.tsx
Due: yarn lint, yarn format

Path conditions:
  yarn lint: any of: src/**/*.{js,ts,tsx}
  yarn format: (any of: src/**/*.{js,ts,tsx}) or (any of: src/**/*.{scss,md,mdx})
