Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

.lintstagedrc:

{
  "src/**/*.{js,ts,tsx}": ["yarn lint", "yarn format"],
  "src/**/*.{scss,md,mdx}": ["yarn format"]
}

fix(zen-input): define host height instead of padding
  src/components/zen-input/zen-input.scss
Due: yarn format

fix: unify input, dropdown, date-picker height to 2 rem
  src/components/zen-dropdown/zen-dropdown.scss
  src/components/zen-input/zen-input.scss
  src/components/zen-menu-item/zen-option.scss
Due: yarn format

fix(zen-dropdown): truncate long text
  src/components/zen-dropdown/zen-dropdown.scss
  src/components/zen-dropdown/zen-dropdown.stories.mdx
  src/components/zen-dropdown/zen-dropdown.tsx
Due: yarn lint, yarn format

test: update snapshots
  cypress/snapshots/visual/date-picker.e2e.js/Date-picker visual tests -- Verifies story--forms-date-picker--default-story.snap.png
  cypress/snapshots/visual/date-picker.e2e.js/Date-picker visual tests -- Verifies story--forms-date-picker--initial.snap.png
  cypress/snapshots/visual/date-picker.e2e.js/Date-picker visual tests -- Verifies story--forms-date-picker--story-sizes.snap.png
  cypress/snapshots/visual/date-picker.e2e.js/field-story--forms-date-picker--default-story.snap.png
  cypress/snapshots/visual/dropdown.e2e.js/Dropdown visual tests -- Verifies opened dropdown in story--forms-dropdown-dropdown--button.snap.png
  cypress/snapshots/visual/dropdown.e2e.js/Dropdown visual tests -- Verifies opened dropdown in story--forms-dropdown-dropdown--invite-people.snap.png
  cypress/snapshots/visual/dropdown.e2e.js/Dropdown visual tests -- Verifies opened dropdown in story--forms-dropdown-dropdown--story-form-group.snap.png
  cypress/snapshots/visual/dropdown.e2e.js/Dropdown visual tests -- Verifies opened dropdown in story--forms-dropdown-dropdown--story-sizes.snap.png
  cypress/snapshots/visual/dropdown.e2e.js/field-story--forms-dropdown-dropdown--default-story.snap.png
  cypress/snapshots/visual/dropdown.e2e.js/field-story--forms-dropdown-dropdown--invite-people.snap.png
  cypress/snapshots/visual/dropdown.e2e.js/field-story--forms-dropdown-dropdown--story-form-group.snap.png
  cypress/snapshots/visual/dropdown.e2e.js/field-story--forms-dropdown-dropdown--story-sizes.snap.png
  cypress/snapshots/visual/dropdownOption.e2e.js/Dropdown option visual tests -- Verifies story--forms-dropdown-dropdown-option--default-story.snap.png
  cypress/snapshots/visual/dropdownOption.e2e.js/Dropdown option visual tests -- Verifies story--forms-dropdown-dropdown-option--slots.snap.png
  cypress/snapshots/visual/dropdownOption.e2e.js/Dropdown option visual tests -- Verifies story--forms-dropdown-dropdown-option--story-sizes.snap.png
  cypress/snapshots/visual/input.e2e.js/Input visual tests -- Verifies story--forms-input--default-story.snap.png
  cypress/snapshots/visual/input.e2e.js/Input visual tests -- Verifies story--forms-input--story-form-group.snap.png
  cypress/snapshots/visual/input.e2e.js/Input visual tests -- Verifies story--forms-input--story-sizes.snap.png
  cypress/snapshots/visual/input.e2e.js/Input visual tests -- Verifies story--forms-input--story-with-leading-and-trailing-slots.snap.png
  cypress/snapshots/visual/input.e2e.js/Input visual tests -- Verifies story--forms-input--story-with-leading-slot.snap.png
  cypress/snapshots/visual/input.e2e.js/Input visual tests -- Verifies story--forms-input--story-with-trailing-slot.snap.png
  cypress/snapshots/visual/text.e2e.js/Text visual tests -- Verifies story--typography-text--label.snap.png
Due: none

refactor(zen-option): move story implementation on top
  src/components/zen-menu-item/zen-option.stories.mdx
Due: yarn format

docs: remove 'in order'
  src/components/zen-dropdown/zen-dropdown.stories.mdx
Due: yarn format

docs: make `size` description more descriptive
  src/components/zen-date-picker/zen-date-picker.stories.mdx
  src/components/zen-dropdown/zen-dropdown.stories.mdx
  src/components/zen-input/zen-input.stories.mdx
Due: yarn format

feat(zen-input): add prop `size` and styles
  src/components.d.ts
  src/components/helpers/types.ts
  src/components/zen-input/zen-input.scss
  src/components/zen-input/zen-input.tsx
Due: yarn lint, yarn format

refactor: remove method inputIconSize()
  src/components/zen-date-picker/zen-date-picker.tsx
Due: yarn lint, yarn format

feat(zen-date-picker): add prop `size` and sizes story
  src/components.d.ts
  src/components/zen-date-picker/zen-date-picker.stories.mdx
  src/components/zen-date-picker/zen-date-picker.tsx
Due: yarn lint, yarn format

test: update e2e visual tests
  cypress/integration/visual/date-picker.e2e.js
  cypress/integration/visual/dropdown.e2e.js
  cypress/integration/visual/dropdownOption.e2e.js
  cypress/integration/visual/input.e2e.js
  src/components/zen-dropdown/zen-dropdown.stories.mdx
Due: yarn format

test: add unit tests for sizes
  src/components/zen-date-picker/tests/zen-date-picker.spec.tsx
  src/components/zen-dropdown/test/zen-dropdown.spec.tsx
  src/components/zen-input/test/zen-input.spec.tsx
Due: yarn lint, yarn format

feat(zen-option): add size prop
  src/components/zen-menu-item/zen-option.scss
  src/components/zen-menu-item/zen-option.stories.mdx
  src/components/zen-menu-item/zen-option.tsx
Due: yarn lint, yarn format

fix(zen-option): truncate long text
  src/components/zen-menu-item/zen-option.scss
  src/components/zen-menu-item/zen-option.stories.mdx
  src/components/zen-menu-item/zen-option.tsx
Due: yarn lint, yarn format

docs: add story for input size prop
  .storybook/helpers/utils.js
  src/components/zen-input/zen-input.stories.mdx
Due: yarn format

fix(zen-dropdown): define field height instead of padding
  src/components.d.ts
  src/components/helpers/types.ts
  src/components/zen-dropdown/zen-dropdown.scss
  src/components/zen-dropdown/zen-dropdown.stories.mdx
  src/components/zen-dropdown/zen-dropdown.tsx
Due: yarn lint, yarn format

fix(zen-option): remove vert padding and control height with line-height
  src/components/zen-menu-item/zen-option.scss
  src/components/zen-menu-item/zen-option.tsx
Due: yarn lint, yarn format

feat(zen-dropdown): add size prop
  src/components.d.ts
  src/components/zen-dropdown/zen-dropdown.scss
  src/components/zen-dropdown/zen-dropdown.stories.mdx
  src/components/zen-dropdown/zen-dropdown.tsx
Due: yarn lint, yarn format

fix: fix firefox h3 overlapping dropdown
  .storybook/preview.scss
Due: none

chore: remove not needed sticky test
  src/components/zen-table-header-cell/test/zen-table-header-cell.spec.tsx
Due: yarn lint, yarn format

fix: fix popover width
  src/components/zen-popover/zen-popover.scss
Due: yarn format

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  031a443dae63fefc23b8c4ffc47118620440b42b
Due: none

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7a0994b410618e1eaac72f47aa2b2688fe3468b1
Due: none

feat(zen-button): add size prop
  src/components.d.ts
  src/components/zen-button/zen-button.tsx
Due: yarn lint, yarn format

docs(zen-button): add sizes story
  src/components/zen-button/zen-button.stories.mdx
Due: yarn format

feat(zen-button): add styles for sizes
  src/components/zen-button/zen-button.scss
Due: yarn format

test(zen-button): add visual test for new story
  cypress/integration/visual/button.e2e.js
  cypress/snapshots/visual/button.e2e.js/Button visual tests -- Verifies story--forms-button--story-sizes.snap.png
Due: none

style: updated zen-toggle styles
  src/components/zen-toggle/zen-toggle.scss
Due: yarn format

feat: added focusInput method to zen-textarea
  src/components.d.ts
  src/components/zen-textarea/zen-textarea.tsx
Due: yarn lint, yarn format

test: update vrt for modal
  cypress/integration/visual/modal.e2e.js
  cypress/snapshots/visual/modal.e2e.js/Text visual tests -- Verifies story--containers-modal-window--default-story.snap.png
  cypress/snapshots/visual/modal.e2e.js/Text visual tests -- Verifies story--notifications-modal-window--default-story.snap.png
  cypress/snapshots/visual/modal.e2e.js/Text visual tests -- Verifies story--notifications-modal-window--mutiple.snap.png
  cypress/snapshots/visual/modal.e2e.js/Text visual tests -- Verifies story--notifications-modal-window--paddingless.snap.png
  cypress/snapshots/visual/modal.e2e.js/confirm.snap.png
  cypress/snapshots/visual/modal.e2e.js/editor.snap.png
Due: none

docs: add documentation about conventional commits
  docs/contributing.md
  docs/conventional-commits.md
Due: none

test: update screenshots
  cypress/snapshots/visual/modal.e2e.js/Text visual tests -- Verifies story--containers-modal-window--default-story.snap.png
  cypress/snapshots/visual/modal.e2e.js/confirm.snap.png
  cypress/snapshots/visual/modal.e2e.js/editor.snap.png
  yarn.lock
Due: none

test: add test for avatar
  cypress/integration/visual/avatar.e2e.js
  cypress/snapshots/visual/avatar.e2e.js/Avatar details visual tests -- Verifies story--graphics-avatar-avatar--default-story.snap.png
  cypress/snapshots/visual/avatar.e2e.js/Avatar details visual tests -- Verifies story--graphics-avatar-avatar--story-avatar-multiple-users.snap.png
  cypress/snapshots/visual/avatar.e2e.js/Avatar details visual tests -- Verifies story--graphics-avatar-avatar--story-avatar.snap.png
  cypress/snapshots/visual/avatar.e2e.js/Avatar visual tests -- Verifies story--icons-avatar--default-story.snap.png
  cypress/snapshots/visual/avatar.e2e.js/Avatar visual tests -- Verifies story--icons-avatar--story-avatar-sizes.snap.png
  cypress/snapshots/visual/avatar.e2e.js/Avatar visual tests -- Verifies story--icons-avatar--story-avatar-variants.snap.png
Due: none

test: update screenshots
  cypress/snapshots/visual/avatar.e2e.js/Avatar details visual tests -- Verifies story--graphics-avatar-avatar--default-story.snap.png
  cypress/snapshots/visual/avatar.e2e.js/Avatar details visual tests -- Verifies story--graphics-avatar-avatar--story-avatar-multiple-users.snap.png
  cypress/snapshots/visual/avatar.e2e.js/Avatar details visual tests -- Verifies story--graphics-avatar-avatar--story-avatar.snap.png
Due: none

test(zen-table-header): add test for table header
  src/components/zen-table-header/test/zen-table-header.spec.tsx
Due: yarn lint, yarn format

fix(zen-table header): fix sticky param set
  src/components.d.ts
  src/components/zen-table-header-cell/zen-table-header-cell.tsx
  src/components/zen-table-header/zen-table-header.tsx
Due: yarn lint, yarn format

test(zen-table-row): add tests for table row
  src/components/zen-table-row/test/zen-table-row.spec.tsx
Due: yarn lint, yarn format

refactor(zen-table-row): code cleanup on zen table row tests
  src/components/zen-table-row/test/zen-table-row.spec.tsx
Due: yarn lint, yarn format
