Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

chore(release): 3.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a54b554f4c3afa7c90bb533e0631d7e1b40884b4
Due: none

docs: manually add the breaking changes to the CHANGELOG
  CHANGELOG.md
Due: none

fix: export necessary types
  src/components.d.ts
  src/components/zen-space/zen-space.tsx
  src/stories/components/html-playground/html-playground.tsx
Due: yarn lint, yarn format

chore: use the package.json name for the react dep
  stencil.config.ts
Due: none

chore: ignore react output directory
  .eslintignore
  .gitignore
  .prettierignore
Due: none

chore: setup react package structure
  react/package.json
  react/src/index.ts
  react/tsconfig.json
Due: none

chore: ignore only automatic files
  .eslintignore
  .prettierignore
Due: none

chore: update components.d.ts with the new exported types
  src/components.d.ts
Due: yarn lint, yarn format

chore: set the new output path for the react bindings
  stencil.config.ts
Due: none

chore: install ts-node
  package.json
  yarn.lock
Due: none

chore: add script to fix the react bindings
  package.json
  react/transform.ts
Due: none

chore(react): move some functions to a utility file
  react/transform.ts
  react/utils.ts
Due: none

chore(react): save lockfile
  react/package.json
  react/yarn.lock
Due: none

chore(react): ignore dist
  .eslintignore
  .gitignore
Due: none

chore: add script to publish react bindings
  package.json
Due: none

chore(react): add blank .npmrc
  react/.npmrc
Due: none

chore(react): add script to publish the package
  react/publish.ts
  react/transform.ts
Due: none

ci: add script to publish the react bindings
  .circleci/config.yml
Due: none

docs: add some info about the react bindings
  src/stories/getting_started.stories.mdx
Due: yarn format

fix(zen-space): vertically distributed items should not have right margin
  src/components/zen-space/zen-space.scss
Due: yarn format

test: update zen-space visual snapshots
  cypress/snapshots/visual/space.e2e.js/Button visual tests -- Verifies story--containers-space--aligns-column-horz.snap.png
  cypress/snapshots/visual/space.e2e.js/Button visual tests -- Verifies story--containers-space--aligns-column-vert.snap.png
  cypress/snapshots/visual/space.e2e.js/Button visual tests -- Verifies story--containers-space--aligns-horz.snap.png
  cypress/snapshots/visual/space.e2e.js/Button visual tests -- Verifies story--containers-space--aligns-vert.snap.png
  cypress/snapshots/visual/space.e2e.js/Button visual tests -- Verifies story--containers-space--children.snap.png
  cypress/snapshots/visual/space.e2e.js/Button visual tests -- Verifies story--containers-space--default-story.snap.png
  cypress/snapshots/visual/space.e2e.js/Button visual tests -- Verifies story--containers-space--paddings.snap.png
  cypress/snapshots/visual/space.e2e.js/Button visual tests -- Verifies story--containers-space--sizes.snap.png
Due: none

test: update visual snapshots
  cypress/snapshots/visual/avatarDetails.e2e.js/Avatar details visual tests -- Verifies story--graphics-avatar-avatar-details--story-variants.snap.png
  cypress/snapshots/visual/dropdown.e2e.js/Dropdown visual tests -- Verifies opened dropdown in story--forms-dropdown-dropdown--story-form-group.snap.png
  cypress/snapshots/visual/dropdown.e2e.js/field-story--forms-dropdown-dropdown--story-form-group.snap.png
Due: none

chore(release): 3.2.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  3af81178177439c1344d4da37f2e756ca3b8d6a4
Due: none

test: improve console.error mocking
  src/components/zen-table/test/zen-table.spec.tsx
Due: yarn lint, yarn format

test: improve mutationObserver mocking
  src/components/zen-table/test/zen-table.spec.tsx
Due: yarn lint, yarn format

refactor: change sub-functions to arrow functions
  src/components/zen-table/zen-table-helpers.tsx
Due: yarn lint, yarn format

refactor: remove async from cleanupTableStructure()
  src/components/zen-table-row/test/zen-table-row.spec.tsx
  src/components/zen-table/zen-table-helpers.tsx
Due: yarn lint, yarn format

chore: move comment for `removeOrphans` to json doc
  src/components/zen-table/zen-table-helpers.tsx
Due: yarn lint, yarn format

refactor: allRows to getAllRows
  src/components/zen-table/zen-table-helpers.tsx
Due: yarn lint, yarn format

chore(zen-table-row): remove unused functions
  src/components.d.ts
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

test: fix unit tests
  src/components/zen-table-row/test/zen-table-row.spec.tsx
  src/components/zen-table/zen-table-helpers.tsx
Due: yarn lint, yarn format

chore: maintain header expanded state from cleanupTableStructure()
  src/components.d.ts
  src/components/zen-table-row/zen-table-row.tsx
  src/components/zen-table/zen-table-helpers.tsx
Due: yarn lint, yarn format

chore: maintain header checkbox state from cleanupTableStructure()
  src/components.d.ts
  src/components/zen-table-row/zen-table-row.tsx
  src/components/zen-table/zen-table-helpers.tsx
Due: yarn lint, yarn format

chore: make row prop `visible` controlled from table
  src/components.d.ts
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

chore: find header row in cleanupTableStructure
  src/components/zen-table/zen-table-helpers.tsx
Due: yarn lint, yarn format

chore(release): 3.2.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  825531a95d2aba686f181d9f29c0cba35bb31b5b
Due: none

fix(zen-tabs): fix that tabs stretch full width
  src/components.d.ts
  src/components/zen-tabs/zen-tabs.scss
Due: yarn lint, yarn format

Path conditions:
  yarn lint: any of: src/**/*.{js,ts,tsx}
  yarn format: (any of: src/**/*.{js,ts,tsx}) or (any of: src/**/*.{scss,md,mdx})
