Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

Notes added by 'git notes add'
  7848bd339048112c7f4e354ec32e2af4382d9eab
Due: none

fix(zen-tooltip): make the link open on a new tab
  src/components/zen-tooltip/zen-tooltip.tsx
Due: yarn lint, yarn format

chore(release): 6.5.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  45f02e15d7bac731f73ef2743fd14c5057470632
Due: none

fix(zen-avatar-group): fix hidden number and initials overide issue
  src/components/zen-avatar/zen-avatar.tsx
Due: yarn lint, yarn format

chore(release): 6.5.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6eb76f15a1b156bc4464158f97d6e32016db0651
Due: none

feat(zen-tooltip): add system tooltip variant
  src/components.d.ts
  src/components/helpers/types.ts
  src/components/zen-tooltip/zen-tooltip.scss
  src/components/zen-tooltip/zen-tooltip.stories.mdx
  src/components/zen-tooltip/zen-tooltip.tsx
Due: yarn lint, yarn format

test(zen-tooltip): add unit test
  src/components/zen-tooltip/test/zen-tooltip.spec.tsx
Due: yarn lint, yarn format

feat(zen-popover): add arrow to the popover
  src/components/scss/vars/shadows.scss
  src/components/zen-popover/zen-popover.scss
  src/components/zen-popover/zen-popover.tsx
Due: yarn lint, yarn format

build: update stencil to latest version
  package.json
Due: none

test(zen-tooltip): update visual regression tests
  cypress/integration/visual/tooltip.e2e.js
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--variant (failed).snap.png
Due: none

chore: remove async props from methods
  src/components/zen-table-row/zen-table-row.tsx
  src/components/zen-table/zen-table.tsx
Due: yarn lint, yarn format

fix: transscipt table row props to cell in cell willLoad
  src/components/zen-table-cell/zen-table-cell.tsx
Due: yarn lint, yarn format

build: update yarn lock
  yarn.lock
Due: none

test: remove cell test test from table row tests
  src/components/zen-table-row/test/zen-table-row.spec.tsx
Due: yarn lint, yarn format

fix(zen-avatar-icon): fix display of initials if username contains only space
  src/components/zen-avatar-icon/zen-avatar-icon.tsx
Due: yarn lint, yarn format

chore: fix arrow so it displays correctly
  src/components/zen-popover/zen-popover.scss
  src/components/zen-popover/zen-popover.stories.mdx
  src/components/zen-popover/zen-popover.tsx
Due: yarn lint, yarn format

feat(zen-badge): initial commit for zen badge
  src/components.d.ts
  src/components/zen-badge/test/zen-badge.spec.tsx
  src/components/zen-badge/zen-badge.scss
  src/components/zen-badge/zen-badge.tsx
Due: yarn lint, yarn format

fix(zen-tooltip): code cleanup
  src/components/zen-tooltip/zen-tooltip.tsx
Due: yarn lint, yarn format

feat(zen-badge): add value parameter and styles
  src/components.d.ts
  src/components/zen-badge/zen-badge.scss
  src/components/zen-badge/zen-badge.stories.mdx
  src/components/zen-badge/zen-badge.tsx
Due: yarn lint, yarn format

test(zen-badge): add unit tests
  src/components/zen-badge/test/zen-badge.spec.tsx
Due: yarn lint, yarn format

fix(zen-tab): align zen tab badge text to center
  src/components/zen-tab/zen-tab.scss
Due: yarn format

test(zen-badge): add visual regression tests
  cypress/integration/visual/badge.e2e.js
  cypress/snapshots/visual/badge.e2e.js/Badge visual tests -- Verifies story--containers-badge--default-story.snap.png
Due: none

fix(zen-avatar-image): fix if image url exists and code cleanup
  src/components/zen-avatar-icon/test/zen-avatar-icon.spec.tsx
  src/components/zen-avatar-icon/zen-avatar-icon.tsx
Due: yarn lint, yarn format

chore(release): 6.5.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a6e296a77dc51f9e6f3ac82e79d76b79b4ae3982
Due: none

fix(zen-tooltip): changed variant params implementation and code cleanup
  src/components/helpers/types.ts
  src/components/zen-tooltip/zen-tooltip.tsx
Due: yarn lint, yarn format

refactor: fix function name - `transscript` to `load`
  src/components/zen-table-cell/zen-table-cell.tsx
Due: yarn lint, yarn format

feat(zen-badge): remove visible and value params
  src/components.d.ts
  src/components/zen-badge/test/zen-badge.spec.tsx
  src/components/zen-badge/zen-badge.scss
  src/components/zen-badge/zen-badge.stories.mdx
  src/components/zen-badge/zen-badge.tsx
Due: yarn lint, yarn format

test(zen-badge): update vrt test
  cypress/integration/visual/badge.e2e.js
  cypress/snapshots/visual/badge.e2e.js/Badge visual tests -- Verifies story--graphics-badge--default-story.snap.png
Due: none

fix(zen-tooltip): update story to use loremipsum text
  src/components/scss/vars/shadows.scss
  src/components/zen-tooltip/zen-tooltip.stories.mdx
Due: yarn format

test(zen-tooltip): update tests
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--scrollable.snap.png
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--variant (failed).snap.png
  src/components/zen-tooltip/test/zen-tooltip.spec.tsx
Due: yarn lint, yarn format

chore(release): 6.5.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d0000adfc80d1127d5e87d31911efcdbfc531bc0
Due: none

fix: fix row updating bug
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

test(zen-tooltip): skip visual regression test for variants
  cypress/integration/visual/tooltip.e2e.js
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--default-story.snap.png
Due: none

chore(release): 6.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a2d69520d788cadf2202dcf8aaaaf7574f61243b
Due: none

fix: replace shadow variables
  src/components/scss/vars/shadows.scss
Due: yarn format

Path conditions:
  yarn lint: any of: src/**/*.{js,ts,tsx}
  yarn format: (any of: src/**/*.{js,ts,tsx}) or (any of: src/**/*.{scss,md,mdx})
