Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

.lintstagedrc:

{
  "src/**/*.{js,ts,tsx}": ["yarn lint", "yarn format"],
  "src/**/*.{scss,md,mdx}": ["yarn format"]
}

docs: move divider and skeleton under graphics
  cypress/integration/visual/divider.e2e.js
  src/components/zen-divider/zen-divider.stories.mdx
  src/components/zen-skeleton/zen-skeleton.stories.mdx
Due: yarn format

docs: rename icons to graphics
  cypress/integration/visual/avatarDetails.e2e.js
  cypress/integration/visual/avatarGroup.e2e.js
  cypress/integration/visual/avatarIcon.e2e.js
  cypress/integration/visual/icon.e2e.js
  cypress/integration/visual/spinner.e2e.js
  src/components/zen-avatar-details/zen-avatar-details.stories.mdx
  src/components/zen-avatar-group/zen-avatar-group.stories.mdx
  src/components/zen-avatar-icon/zen-avatar-icon.stories.mdx
  src/components/zen-avatar/zen-avatar.stories.mdx
  src/components/zen-icon/zen-icon.stories.mdx
  src/components/zen-spinner/zen-spinner.stories.mdx
Due: yarn format

docs: rename "Layout" group to "Containers"
  .storybook/preview.js
  cypress/integration/functional/popover.e2e.js
  cypress/integration/visual/card.e2e.js
  cypress/integration/visual/drawer.e2e.js
  cypress/integration/visual/modal.e2e.js
  cypress/integration/visual/panel.e2e.js
  cypress/integration/visual/popover.e2e.js
  cypress/integration/visual/space.e2e.js
  src/components/zen-card/zen-card.stories.mdx
  src/components/zen-drawer/zen-drawer.stories.mdx
  src/components/zen-modal/zen-modal.stories.mdx
  src/components/zen-panel/zen-panel.stories.mdx
  src/components/zen-popover/zen-popover.stories.mdx
  src/components/zen-space/zen-space.stories.mdx
Due: yarn format

test: nonrelated - lint sortable
  src/components/zen-sortable/test/zen-sortable.spec.tsx
Due: yarn lint, yarn format

feature: add paddingless slot variants
  src/components/zen-modal/zen-modal.tsx
Due: yarn lint, yarn format

feature: substitute x button with zen-icon
  src/components/zen-modal/zen-modal.scss
  src/components/zen-modal/zen-modal.tsx
Due: yarn lint, yarn format

feature: replace containers with zen-space
  src/components/zen-modal/zen-modal.scss
  src/components/zen-modal/zen-modal.tsx
Due: yarn lint, yarn format

docs: add paddingless story
  src/components/zen-modal/zen-modal.stories.mdx
Due: yarn format

refactor: rename footer slots
  src/components/zen-modal/zen-modal.stories.mdx
  src/components/zen-modal/zen-modal.tsx
Due: yarn lint, yarn format

tests: update visual tests
  cypress/integration/visual/modal.e2e.js
  cypress/snapshots/visual/modal.e2e.js/Text visual tests -- Verifies story--notifications-modal-window--paddingless.snap.png
Due: none

tests: update zen-space visual tests
  cypress/snapshots/visual/space.e2e.js/Button visual tests -- Verifies story--layout-space--children.snap.png
  cypress/snapshots/visual/space.e2e.js/Button visual tests -- Verifies story--layout-space--paddings.snap.png
  cypress/snapshots/visual/space.e2e.js/Button visual tests -- Verifies story--layout-space--sizes.snap.png
  src/components/zen-space/zen-space.stories.mdx
Due: yarn format

fix: remove paddingless slots
  cypress/integration/visual/modal.e2e.js
  src/components/zen-modal/zen-modal.stories.mdx
  src/components/zen-modal/zen-modal.tsx
Due: yarn lint, yarn format

fix: add role button to cancel button
  src/components/zen-modal/zen-modal.tsx
Due: yarn lint, yarn format

test: fix space snapshot
  cypress/snapshots/visual/space.e2e.js/Button visual tests -- Verifies story--layout-space--children.snap.png
Due: none

feat: expose padding props
  src/components.d.ts
  src/components/zen-modal/zen-modal.tsx
Due: yarn lint, yarn format

fix: close button always align top
  src/components/zen-modal/test/zen-modal.spec.tsx
  src/components/zen-modal/zen-modal.scss
  src/components/zen-modal/zen-modal.tsx
Due: yarn lint, yarn format

feat: add tooltip title and hyperlink
  src/components.d.ts
  src/components/zen-tooltip/zen-tooltip.scss
  src/components/zen-tooltip/zen-tooltip.stories.mdx
  src/components/zen-tooltip/zen-tooltip.tsx
Due: yarn lint, yarn format

test: add vrt for tooltip with hyperlink
  cypress/integration/visual/tooltip.e2e.js
Due: none

refactor: move icon to hyperlink and update styles
  src/components/zen-tooltip/zen-tooltip.scss
  src/components/zen-tooltip/zen-tooltip.tsx
Due: yarn lint, yarn format

test: add unit tests for title and hypelink
  src/components/zen-tooltip/test/zen-tooltip.spec.tsx
Due: yarn lint, yarn format

fix: small fix for icon margin
  src/components/zen-tooltip/zen-tooltip.scss
Due: yarn format

fix: make header selectable reflective and update styles
  src/components.d.ts
  src/components/zen-table-header/zen-table-header.scss
  src/components/zen-table-header/zen-table-header.stories.mdx
  src/components/zen-table-header/zen-table-header.tsx
Due: yarn lint, yarn format

fix: make table row params reflective and update styles
  src/components.d.ts
  src/components/zen-table-row/zen-table-row.scss
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

fix: make tabel header cell sticky prop to be reflective
  src/components/zen-table-header-cell/test/zen-table-header-cell.spec.tsx
  src/components/zen-table-header-cell/zen-table-header-cell.scss
  src/components/zen-table-header-cell/zen-table-header-cell.tsx
Due: yarn lint, yarn format

fix: change table header expandable to be a attribute
  src/components.d.ts
  src/components/zen-table-header/zen-table-header.scss
  src/components/zen-table-header/zen-table-header.stories.mdx
  src/components/zen-table-header/zen-table-header.tsx
  src/components/zen-table-row/zen-table-row.tsx
Due: yarn lint, yarn format

test: updated the table header vrt
  cypress/snapshots/visual/tableHeader.e2e.js/Table header visual tests -- Verifies story--lists-table-header--default-story.snap.png
Due: none

chore: fix releaserc
  .releaserc
Due: none

chore: fix branch name for releases
  .releaserc
Due: none

ci: require publish before deploy
  .circleci/config.yml
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1368cc86a150cd26534977e31c60f3ab4c3f66cc
Due: none

fix: enable NPM releases
  .releaserc
Due: none

ci: generate Storybook after the release
  .circleci/config.yml
Due: none

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8dfc56efa47d040ac8efbf8478a24538b0cde038
Due: none

ci: fix Storybook deploy
  .circleci/config.yml
Due: none

test: update tooltip vrt test
  cypress/integration/visual/tooltip.e2e.js
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--default-story.snap.png
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--scrollable.snap.png
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--slot.snap.png
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--variant.snap.png
  cypress/snapshots/visual/tooltip.e2e.js/dark.snap.png
  cypress/snapshots/visual/tooltip.e2e.js/error.snap.png
  cypress/snapshots/visual/tooltip.e2e.js/light.snap.png
Due: none

chore: change variable names and code cleanup
  src/components.d.ts
  src/components/zen-tooltip/test/zen-tooltip.spec.tsx
  src/components/zen-tooltip/zen-tooltip.scss
  src/components/zen-tooltip/zen-tooltip.stories.mdx
  src/components/zen-tooltip/zen-tooltip.tsx
Due: yarn lint, yarn format

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c8f46fa1ec1c41db9cb2d1fbe6d101ed8ae01c11
Due: none
