Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

chore(release): 6.9.7 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  450ebb1e5906a5e9918d525c35a10beac160df90
Due: none

test: update avatar test
  cypress/integration/visual/avatar.e2e.js
  cypress/snapshots/visual/avatar.e2e.js/Avatar details visual tests -- Verifies story--graphics-avatar-avatar--default-story.snap.png
  cypress/snapshots/visual/avatar.e2e.js/Avatar details visual tests -- Verifies story--graphics-avatar-avatar--story-avatar-multiple-users.snap.png
  cypress/snapshots/visual/avatar.e2e.js/Avatar details visual tests -- Verifies story--graphics-avatar-avatar--story-avatar.snap.png
Due: none

test: fix screenshots for avatarGroup
  cypress/integration/visual/avatarGroup.e2e.js
  cypress/snapshots/visual/avatarGroup.e2e.js/Avatar colors popover.snap.png
  cypress/snapshots/visual/avatarGroup.e2e.js/Avatar group popover - multiple users.snap.png
  cypress/snapshots/visual/avatarGroup.e2e.js/Avatar group popover - single user.snap.png
Due: none

test: fix tooltip test
  cypress/integration/visual/tooltip.e2e.js
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--default-story.snap.png
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--hyperlink.snap.png
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--scrollable.snap.png
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--slot.snap.png
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--variant (failed).snap.png
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--variant.snap.png
  cypress/snapshots/visual/tooltip.e2e.js/dark.snap.png
  cypress/snapshots/visual/tooltip.e2e.js/error.snap.png
  cypress/snapshots/visual/tooltip.e2e.js/light.snap.png
  package.json
  src/components/zen-tooltip/zen-tooltip.stories.mdx
Due: yarn format

test: fix dropdown test
  cypress/integration/visual/dropdown.e2e.js
  cypress/snapshots/visual/dropdown.e2e.js/Dropdown visual tests -- Verifies opened dropdown in s.snap.png
  cypress/snapshots/visual/dropdown.e2e.js/Dropdown visual tests -- Verifies opened dropdown in story--forms-dropdown-dropdown--button.snap.png
  cypress/snapshots/visual/dropdown.e2e.js/Dropdown visual tests -- Verifies opened dropdown in story--forms-dropdown-dropdown--default-story.snap.png
  cypress/snapshots/visual/dropdown.e2e.js/Dropdown visual tests -- Verifies opened dropdown in story--forms-dropdown-dropdown--invite-people.snap.png
  cypress/snapshots/visual/dropdown.e2e.js/Dropdown visual tests -- Verifies opened dropdown in story--forms-dropdown-dropdown--story-form-group.snap.png
  cypress/snapshots/visual/dropdown.e2e.js/Dropdown visual tests -- Verifies opened dropdown in story--forms-dropdown-dropdown--story-sizes.snap.png
  cypress/snapshots/visual/dropdown.e2e.js/field-story--forms-dropdown-dropdown--button.snap.png
  cypress/snapshots/visual/dropdown.e2e.js/field-story--forms-dropdown-dropdown--invite-people.snap.png
Due: none

test: update test for datepicker
  cypress/integration/visual/date-picker.e2e.js
  cypress/snapshots/visual/date-picker.e2e.js/Date-picker visual tests -- Verifies opened datepicker in story--forms-date-picker--default-story.snap.png
  cypress/snapshots/visual/date-picker.e2e.js/Date-picker visual tests -- Verifies story--forms-date-picker--disable-before-after-dates.snap.png
  cypress/snapshots/visual/date-picker.e2e.js/Date-picker visual tests -- Verifies story--forms-date-picker--initial.snap.png
  cypress/snapshots/visual/date-picker.e2e.js/Date-picker visual tests -- Verifies story--forms-date-picker--story-sizes.snap.png
  cypress/snapshots/visual/date-picker.e2e.js/field-story--forms-date-picker--default-story.snap.png
Due: none

feat(zen-avatar-details): add possibility to show details tooltip on mouse hover icon
  src/components.d.ts
  src/components/zen-avatar-details/zen-avatar-details.scss
  src/components/zen-avatar-details/zen-avatar-details.stories.mdx
  src/components/zen-avatar-details/zen-avatar-details.tsx
Due: yarn lint, yarn format

test(zen-avatar-details): add and update unit tests
  src/components/zen-avatar-details/test/zen-avatar-details.spec.tsx
  src/components/zen-avatar-icon/test/zen-avatar-icon.spec.tsx
  src/components/zen-avatar-icon/zen-avatar-icon.tsx
Due: yarn lint, yarn format

test(zen-avatar-details): add and update the visual regression tests
  cypress/integration/visual/avatarDetails.e2e.js
  cypress/snapshots/visual/avatarDetails.e2e.js/Avatar details visual tests -- Verifies story--graphics-avatar-avatar-details--story-tooltip.snap.png
Due: none

test: add tests for date picker
  cypress/integration/visual/date-picker.e2e.js
  cypress/snapshots/visual/date-picker.e2e.js/Date-picker visual tests -- Verifies story--forms-date-picker--default-story.snap.png
  cypress/snapshots/visual/date-picker.e2e.js/field-story--forms-date-picker--default-story.snap.png
Due: none

test: remove test for popover with colors
  cypress/integration/visual/avatarGroup.e2e.js
  cypress/snapshots/visual/avatarGroup.e2e.js/Avatar colors popover.snap.png
Due: none

chore(release): 6.10.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  25e68489d57d739680bfe685d4db5a9979e9e258
Due: none

fix(zen-tooltip): break words without spaces in tooltip
  src/components/zen-popover/zen-popover.scss
  src/components/zen-tooltip/zen-tooltip.scss
Due: yarn format

docs: add unbreakable example
  src/components/zen-tooltip/zen-tooltip.stories.mdx
Due: yarn format

test: update vr test
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--variant.snap.png
Due: none

chore(release): 6.10.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4317a8521f86bfc0e657d0d6ae33c98e229e2eae
Due: none

fix(zen-popover): break long words
  src/components/zen-popover/zen-popover.scss
Due: yarn format

chore(release): 6.10.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d96f5b66fe99335e526609f584f3a1793cdcd18e
Due: none

feat(zen-popover): remove `onZenBeforeVisibleChange` event
  src/components.d.ts
  src/components/zen-popover/zen-popover.tsx
Due: yarn lint, yarn format

chore(zen-popover): add prop `beforeShow`
  src/components.d.ts
  src/components/zen-popover/zen-popover.tsx
Due: yarn lint, yarn format

chore(zen-dropdown): substitute new old event handler with new prop
  src/components/zen-dropdown/zen-dropdown.tsx
Due: yarn lint, yarn format

docs: handle `function` props correctly
  .storybook/helpers/argTypes.js
Due: none

Update src/components/zen-dropdown/zen-dropdown.tsx
  src/components/zen-dropdown/zen-dropdown.tsx
Due: yarn lint, yarn format

chore(release): 6.11.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6f61de6374824ec5f46647e390d793d86a84ba41
Due: none

fix(zen-notification): update close icon position
  src/components/zen-notification/zen-notification.scss
  src/components/zen-notification/zen-notification.tsx
Due: yarn lint, yarn format

chore(release): 6.11.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f95dc89d8a74e65377ca128e820210e1e31e24f4
Due: none

chore: set inner html instead of text
  src/components/zen-notifications-wrapper/zen-notifications-wrapper.tsx
Due: yarn lint, yarn format

v6.11.2
  package.json
Due: none

feat(zen-notification): accept html as notification content
  src/components/zen-notifications-wrapper/zen-notifications-wrapper.stories.mdx
Due: yarn format

chore(release): 6.12.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  yarn lint: any of: src/**/*.{js,ts,tsx}
  yarn format: (any of: src/**/*.{js,ts,tsx}) or (any of: src/**/*.{scss,md,mdx})
