Repository reciprocity/zen-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

Notes added by 'git notes add'
  74a6bbb7dae7baea53a6ab6f2b782282ca07f67a
Due: none

Notes added by 'git notes add'
  35a5397e6e00f9e5b08e9d7497c587bb8ae3dcc1
Due: none

chore: disable npm for the main package
  .releaserc
  react/publish.ts
Due: none

Notes added by 'git notes add'
  83639e8467009f9694cc965799e2a54ade577e3d
Due: none

docs: fix storybook theme
  .storybook/zenTheme.js
Due: none

chore(release): 3.5.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1b4d65187081aba4b0af3dd0cad450608df00dd7
Due: none

chore: enable npm for the main package
  .releaserc
  react/publish.ts
Due: none

chore: use different tsconfig files for cypress and jest
  cypress/tsconfig.json
  tsconfig.json
Due: none

chore: add missing path on .eslintrc
  src/.eslintrc.js
Due: yarn lint, yarn format

test(zen-date-picker): remove unused variable
  src/components/zen-date-picker/tests/zen-date-picker.spec.tsx
Due: yarn lint, yarn format

test(helpers/animations): use spies instead of reference overwrites
  src/components/helpers/tests/animations.spec.tsx
Due: yarn lint, yarn format

chore: setup type checking on pre push
  .husky/pre-push
  package.json
Due: none

test(zen-input): fix types
  src/components/zen-input/test/zen-input.spec.tsx
Due: yarn lint, yarn format

test(zen-panel): add missing generic
  src/components/zen-panel/test/zen-panel.spec.tsx
Due: yarn lint, yarn format

test(zen-table): refactor the tests and remove unnecessary stuff
  src/components/helpers/jest.ts
  src/components/zen-table/test/zen-table.spec.tsx
Due: yarn lint, yarn format

test(zen-animate): use spies instead of reference overwrites
  src/components/zen-animate/test/zen-animate.spec.tsx
Due: yarn lint, yarn format

test(zen-modal): import missing type
  src/components/zen-modal/test/zen-modal.spec.tsx
  src/components/zen-modal/test/zen-modals-service.spec.tsx
Due: yarn lint, yarn format

test(zen-date-picker): use spies and add missing casts
  src/components/zen-date-picker/tests/zen-date-picker.spec.tsx
Due: yarn lint, yarn format

test(zen-breadcrumbs): cast to string
  src/components/zen-breadcrumbs/test/zen-breadcrumbs.spec.tsx
Due: yarn lint, yarn format

test(zen-date-picker/helpers): use spies and remove invalid parameter
  src/components/zen-date-picker/tests/date-helpers.spec.ts
Due: yarn lint, yarn format

test(zen-table-row): use spies
  src/components/zen-table-row/test/zen-table-row.spec.tsx
Due: yarn lint, yarn format

test(zen-avatar-group): cast to HTMLElement
  src/components/zen-avatar-group/test/zen-avatar-group.spec.tsx
Due: yarn lint, yarn format

test(zen-notification): add missing generic
  src/components/zen-notification/test/zen-notification.spec.tsx
Due: yarn lint, yarn format

test(zen-tooltip): escape invalid type assignment
  src/components/zen-tooltip/test/zen-tooltip.spec.tsx
Due: yarn lint, yarn format

test(zen-popover): add spies and some casting
  src/components/zen-popover/test/zen-popover.spec.tsx
Due: yarn lint, yarn format

test(zen-dropdown): add spies and recast a lot of objects
  src/components/zen-dropdown/test/zen-dropdown.spec.tsx
Due: yarn lint, yarn format

style: format cypress' tsconfig
  cypress/tsconfig.json
Due: none

test(zen-popover): define the document element only once
  src/components/zen-popover/test/zen-popover.spec.tsx
Due: yarn lint, yarn format

test(zen-table): remove commented line
  src/components/zen-table/test/zen-table.spec.tsx
Due: yarn lint, yarn format

fix(zen-tooltip): remove variants
  src/components.d.ts
  src/components/helpers/types.ts
  src/components/zen-tooltip/test/zen-tooltip.spec.tsx
  src/components/zen-tooltip/zen-tooltip.stories.mdx
  src/components/zen-tooltip/zen-tooltip.tsx
Due: yarn lint, yarn format

test(zen-tooltip): updated vrt and its snapshots
  cypress/integration/visual/tooltip.e2e.js
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--scrollable.snap.png
  cypress/snapshots/visual/tooltip.e2e.js/Tooltip visual tests -- Verifies story--notifications-tooltip--slot.snap.png
Due: none

chore(release): 4.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  232661b58f4192b281c6bd213bfebdc7dc0070dd
Due: none

fix(zen-tabs): remove flex grow
  src/components/zen-tabs/zen-tabs.scss
Due: yarn format

fix(zen-tabs): fix that change event gets trigered
  src/components/zen-tabs/zen-tabs.stories.mdx
  src/components/zen-tabs/zen-tabs.tsx
Due: yarn lint, yarn format

chore(release): 4.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4cc997b9753d65ec9afadac89240465e69b62fc2
Due: none

feat(zen-lozenge): added new component with its types, style and slot
  src/components.d.ts
  src/components/helpers/types.ts
  src/components/scss/vars/colors.scss
  src/components/zen-lozenge/zen-lozenge.scss
  src/components/zen-lozenge/zen-lozenge.tsx
Due: yarn lint, yarn format

chore(zen-lozenge): added stories
  src/components/zen-lozenge/zen-lozenge.stories.mdx
Due: yarn format

Path conditions:
  yarn lint: any of: src/**/*.{js,ts,tsx}
  yarn format: (any of: src/**/*.{js,ts,tsx}) or (any of: src/**/*.{scss,md,mdx})
